[2017-10-26 08:32] bricss commented on #263
I were thinking that V8 6.2 backport will land in 8.x right before LTS 🙄

[2017-10-26 14:32] mhdawson commented on #263
+1 to the suggested schedule.

[2017-10-26 14:56] cjihrig commented on #263
SGTM!

[2017-10-26 16:41] drewfish commented on #263
What about 4.x End-of-Maintenance? (Perhaps that should be discussed a separate issue.)

[2017-10-26 16:46] MylesBorins commented on #263
good call @drewfish opening a PR with proposed dates

[2017-10-26 16:47] MylesBorins opened #264 "Proposing April 4th as LTS transition Date"
This would be both for 6.x to move to Maintenance and 4.x to go EOL

/cc @nodejs/lts @nodejs/tsc

[2017-10-26 17:23] jasnell commented on #264
I'm good on this. I'll be starting the plan for the Node.js 10.0.0 release shortly after cutting 9.0.0, I would anticipate 10.0.0 coming out later in the month so having these transition earlier would be good

[2017-10-30 19:04] gibfahn opened #269 "Release WG meeting Monday 30th October 2017"
## Present

@nodejs/lts, maybe @nodejs/release if they're interested

## When

- 9PM Monday September 9th UTC, or [in your local timezone](
https://www.timeanddate.com/worldclock/fixedtime.html?msg=Node.js+Release+Working+Group+Meeting&iso=20171030T21)
- Previous meetings: https://github.com/nodejs/Release/issues/261

## Where

Hangouts on Air:
- [Observers]
- [Participants]
- [Events page](https:

[2017-10-30 20:33] rvagg commented on #269
Won't be able to join due to meeting clash in this time slot each week. If this stays fixed to UTC then it should free up for me when the US does its DST shift.

[2017-10-30 20:48] MylesBorins opened #270 "Added @gibfahn to Release team"
Hey All,

Just wanted to let you all know that I've officially added @gibfahn to the release team on github

I will follow up on @nodejs/build when I add his ssh key

https://github.com/nodejs/node/pull/16620

[2017-10-30 20:49] #270 closed

[2017-10-30 21:04] gibfahn commented on #269
Is anyone able to host?

[2017-10-30 21:05] MylesBorins commented on #269
What's the link for the meeting?

[2017-10-30 21:09] gibfahn commented on #269
Don't think anyone who is able to host is here, so looks like we'll have to cancel this one.

[2017-10-30 21:12] Fishrock123 commented on #269
Oh, I have access but idk how to set it up. We could run it on uberconference?

[2017-10-30 21:14] gibfahn commented on #269
Whatever works should be fine.

[2017-10-30 21:16] MylesBorins commented on #269
I don't think we have quorum, and not much of an agenda, not a huge deal to punt imho

[2017-10-30 21:27] Fishrock123 commented on #269
Aight. When should we schedule this next then? Just in the usual 3 weeks?

[2017-10-30 21:27] #269 closed

[2017-10-30 22:12] gibfahn commented on #269
SGTM

[2017-10-30 22:34] rvagg commented on #264
Could we just formalise EOL as the end of the month in each case rather than an arbitrary date? We've communicate that we drop support "in April" but doing it this early is likely going to be a very big surprise.
Same case could be made for 6.x moving to Maintenance although that matters much less than dropping 4.x support.

@jasnell can you explain how these shifts impact the 10.0.0 release?

[2017-10-30 22:36] rvagg commented on #263
@mylesborins do we have a Q4 schedule for Boron somewhere?

[2017-10-30 22:38] rvagg opened #271 "OpenSSL 1.0.2m on 2nd November 2017"
Doing this here instead of in @nodejs/security since there's nothing sensitive here as far as I can tell. /cc @nodejs/security-wg

[code]

The issue in question is:

[code]

So, that's pretty low, I think the only reason this is even listed as a security problem is because it's a buffer over-read and it they're leaving open the possibility that it could be more than just an "erroneous display".

S

[2017-10-30 22:40] MylesBorins commented on #263
Already in the wiki

Dates are the same as carbon

On Oct 30, 2017 6:36 PM, "Rod Vagg" <notifications@github.com> wrote:

[2017-10-30 22:41] MylesBorins commented on #264
We have been using the first Tuesday of each month for releases, so I liked
the symmetry for EOL and maintenance bit flip

Open to making it the end of the month though

On Oct 30, 2017 6:34 PM, "Rod Vagg" <notifications@github.com> wrote:

[2017-10-30 22:42] MylesBorins commented on #271
We have an LTS release day for 6.x schedule for the 7th. We could bundle
this in and do a 8.9.1

Thoughts?

On Oct 30, 2017 6:38 PM, "Rod Vagg" <notifications@github.com> wrote:

[2017-10-30 23:11] rvagg commented on #271
Oh lovely, this just appended to the announcement:

[code]

No further details. So yeah, let's plan for shipping this ASAP afterward. If it were just this very-low issue then bundling with a standard release would be fine, but with this new "moderate" one and not having any details about it, we should do the usual planning for releasing within a day or two afterward. We normally tell people via no

[2017-10-30 23:53] rvagg commented on #271
Proposed announcement https://github.com/nodejs/nodejs.org/pull/1430, who's around to review? @MylesBorins?

[2017-10-30 23:56] MylesBorins commented on #271
Done

I'm going to be on an airplane for much of the 2nd so may not be able to
help get it out on that day. Should be able to help put out 4 / 6 on Friday
if I have good internet access in Colombia

On Oct 30, 2017 7:53 PM, "Rod Vagg" <notifications@github.com> wrote:

[2017-10-31 00:02] rvagg commented on #271
I'd be very confident that we won't need to act urgently on this so Friday will be the likely earliest that we need to act. My rough guess is that we may be able to defer this even until the next scheduled releases but we'll have to wait and see what the _moderate_ is!

[2017-10-31 02:42] rvagg commented on #271
Announcement has gone public. We're going to need some folks in @nodejs/crypto to help with assessment when the _medium_ is public on Thursday. A look at CVE-2017-3735 would be helpful too and that could be done now since it's public @ https://github.com/openssl/openssl/pull/4276

[2017-10-31 04:13] rvagg commented on #271
happening @ https://github.com/nodejs/node/pull/16630

[2017-10-31 06:05] shigeki commented on #271
CVE-2017-3735 fixed buffer overread in parsing X.509 certificate which supports extensions defined in RFC3779. Node disables RFC3779 support by  defining `OPENSSL_NO_RFC3779` as https://github.com/nodejs/node/blob/master/deps/openssl/config/archs/linux-x86_64/opensslconf.h#L32-L34 in linux-x86_64 as well as in other archs.
So I don't think that CVE-2017-3735 affects Node.

A moderated severity inc

[2017-10-31 12:49] axetroy opened #274 "Active Node@8 LTS today?"
I am waiting for that

[2017-10-31 13:09] gibfahn commented on #274
Yes, you can follow https://github.com/nodejs/node/pull/16630 to track its progress.

[2017-10-31 13:10] axetroy commented on #274
@gibfahn  thanks

[2017-10-31 13:10] #274 closed

[2017-10-31 18:52] #257 closed

[2017-11-01 06:57] AjayChoudary opened #275 "8.x is active now, what is the LTS end date"
The 8.x Maintenance LTS cycle is currently scheduled to expire early on December 31, 2019 to align with the scheduled End-of-Life of OpenSSL-1.0.2. Note that this schedule may change if the version of OpenSSL is upgraded to 1.1.x before 8.x enters the Active LTS cycle.

Can we start using 8.x for production deployments?

[2017-11-01 07:15] fivdi commented on #275
According to https://nodejs.org/en/ 8.9.0 LTS is recommended for most users.

[2017-11-01 07:28] AjayChoudary commented on #275
what is the LTS end date for 8.x ?

[2017-11-01 07:51] fivdi commented on #275
If my interpretation of the [release schedule](https://github.com/nodejs/Release#release-schedule) is correct the LTS plan for 8.x started yesterday and will end in April 2019.

That being said, the [image](https://github.com/nodejs/Release/blob/master/schedule.png) showing the release schedule doesn't appear to be consistent with the text describing the release plan. In the image the LTS plan app

[2017-11-01 13:25] cjihrig commented on #275
Node 8 entered LTS yesterday. It should be considered safe to use in production until December 2019.

It will be active LTS until April 2019. Then it will become a maintenance LTS (still safe to use) until it is end of lifed in December 2019.

That image is pretty old, and I think the issue is that Node 8 runs off the side of the image. I generated this image, which is more up to date: https://gis

[2017-11-01 13:56] fivdi commented on #275
@cjihrig The updated image is a better reflection or reality today. Would it be even better if the time axis was extended for a further six months went up to Apr 2020? The axis would then include Jan 2020 and Apr 2020. The maintenance phase for Node 8 would go up as far as Jan 2020. It would then be clearer that the maintenance phase for Node 8 is nine months rather than twelve months. As it is no

[2017-11-01 13:58] MylesBorins commented on #275
@rvagg I believe the graphic is created by node source. are you able to provide an update?

[2017-11-01 14:03] cjihrig commented on #275
@MylesBorins I'd like to suggest using https://www.npmjs.com/package/lts. I'm biased because I created it, but anyone can use it to autogenerate the graph for any time period, and it doesn't carry any company names.

[2017-11-01 14:23] MylesBorins commented on #275
Oh wow... I don't know why I thought it was an internal thing. A++ to no
company names

On Nov 1, 2017 10:03 AM, "Colin Ihrig" <notifications@github.com> wrote:

[2017-11-01 16:11] gibfahn commented on #275
@cjihrig could you PR an update to the README that uses `lts`?

Also https://www.npmjs.com/package/lts sounds like another candidate for @nodejs/automation

[2017-11-01 16:27] cjihrig commented on #275
@gibfahn https://github.com/nodejs/Release/pull/277

[2017-11-01 16:48] joyeecheung commented on #275
@cjihrig @gibfahn Yes it's mentioned in https://github.com/nodejs/automation/issues/1 ...should we open an issue somewhere (TSC or admin) to see if there are any objections on moving it into the foundation?

[2017-11-01 18:26] ofrobots opened #278 "Policy: don't add a new release signing key shortly before a release"
With `8.9.0`, we added a new releaser and a [new release signing key](https://github.com/nodejs/node/pull/16620) shortly before the release. (Thanks @gibfahn for all your hard work in getting the release out of the door :heart:).

I would like to propose we add new release signing keys well in advance of them getting used. Otherwise, any new binaries published with the new key seem like rogue bina

[2017-11-01 18:35] ofrobots opened #279 "Coinciding LTS and Current releases on the same day"
Our policy states:

I would like to question why coinciding the two releases on the same day is necessary. Note that while the policy doesn't mention 'same day' explicitly, this is how we have chosen to interpret this statement in the project.

In practice this means that:

* The release team, the CI, and the project overall has to manage two releases concurrently. This puts extra burden on resour

[2017-11-01 19:27] MylesBorins commented on #279
As it currently stands there is no way for us to do an "LTS" release when transitioning if the commits have not had an opportunity to bake in a Current release first.

As such this could likely be solved by either

a) making the initial LTS release include _ONLY_ the changes to move the release line to lts
b) having the next major out a month in advance to allow for a proper baking pattern that we

[2017-11-01 19:28] cjihrig commented on #279
I like option A.

[2017-11-01 19:31] ofrobots commented on #279
Option A doesn't address my first concern that doing *two* major releases is unnecessary burden on people and processes. Is there a rationale for why it has to be the same day?

[2017-11-01 19:34] cjihrig commented on #279
Oh, there is no reason the releases have to be on the same day with either of those options.

[2017-11-01 19:41] MylesBorins commented on #279
Having them on the same time simplifies UX for the website.
If we were to promote 9.x to Current before 8.x becomes LTS our current site would have 8.x vanish and 6.x still promoted

There is also a comms advantage to doing everything on the same day. It is a much stronger signal from a marketing and press perspective

I'm not saying this is a reason not to change things, more that the reason for

[2017-11-01 20:20] gibfahn commented on #278
I guess this makes sense to a degree, but how do you propose we notify people?

I don't think people will be regularly checking the readme for new keys, so no matter when we add people people probably aren't going to notice until their scripts break.

At the moment the first notable change for the release is that the new key was added, I'm not sure we could highlight it more.

Definitely something

[2017-11-01 20:31] MylesBorins commented on #278
We so rarely add new releasers, and each time we have in the past they have been added during a non milestone release.

Likely we should just focus on adding people for non milestone releases... so no transitions, semver majors, or security releases

That way if people need an extra day or two to catch up with stuff it isn't a fire drill

[2017-11-01 21:38] mhdawson commented on #271
@rvagg as a suggestion it would have been good to have a reference to this in the security repo.  I was looking for it earlier when I saw the post to nodejs-sec and was looking in the security repo as I thought that was were it would be if we had an open issue.

[2017-11-01 21:39] MylesBorins commented on #271
do we have an update on this?

[2017-11-01 21:39] gibfahn commented on #275
I think that should be the TSC repo.

Owner is @cjihrig 😁

[2017-11-01 21:40] cjihrig commented on #275
As long as it's going to be used, I'm happy to transfer it.

[2017-11-01 21:48] gibfahn commented on #279
By people are we talking about release team members? I prefer having the releases on the same day, it makes things easier. Having two current releases going at the same time seems unnecessary to me. What burden are you talking about? We frequently have 3 security releases going out at the same time, so it's not exactly unusual.

I think we should definitely do this.

[2017-11-01 22:33] MylesBorins opened #280 "Plan v8.x release for November 7"
Currently we have a 6.x and 4.x release planned for next tuesday. I'd like to propose that we also schedule a semver patch release of 8.x to patch the collection of problems that we found in 8.9.0

If we find that the openssl release is not time sensitive I think it makes sense to fold it in to the tuesday release instead of rushing something out on friday

thoughts?

/cc @nodejs/lts @gibfahn

[2017-11-02 04:32] joyeecheung commented on #275
@cjihrig OK, we can open an issue in the TSC repo once #277 lands

[2017-11-02 12:20] gibfahn commented on #280
Can we keep a list of them here?

- Possible openssl release
- process.release.lts [#16656](https://github.com/nodejs/node/pull/16656)
- revert "refactor to use http internals" [#16660](https://github.com/nodejs/node/pull/16660)

[2017-11-02 13:55] mhdawson commented on #279
Agreed to:
[code]

Otherwise I'll leave the rest of the discussion as to whether its a burden do both at the same time to those doing the releases.

[2017-11-02 17:13] richardlau commented on #271
https://github.com/nodejs/node/pull/16691

[2017-11-02 17:40] ofrobots commented on #279
I think it goes a bit beyond that. As a collaborator, I noticed a lot of changes being rushed; the CI was over-subscribed and not quite healthy, and the resources to go figure out/fix the CI were scarce. Stuff I wanted to land took a significant amount of wasted time to land because of the churn. I am extrapolating from my experience.

The downside I see is that if we have otherwise reasonable cha

[2017-11-02 19:55] schmod opened #281 "Proposal: Initial "Active LTS" release should follow LTS policies"
Apologies if this is not the correct forum for this discussion. Please feel free to close this issue or point me to the correct location.

The first "Active LTS" release of the 8.x series, v8.9.0 dropped this week, and included several additions that would not typically be incorporated into an LTS release (or otherwise would have been required to be introduced to spend at least 2 weeks in the wild

[2017-11-02 21:18] gibfahn commented on #281
This is the right place, but similar discussion is already happening in https://github.com/nodejs/Release/issues/279, so it might be best to continue in there (at least for now).

[2017-11-02 21:26] schmod commented on #279
I just discussed something similar over in #281 and somehow missed this thread.

tl;dr; At the very minimum, I think that the first LTS release of a series should conform to the normal rules that we have in place for LTS releases (specifically, the 2-week probationary period during which new features need to live in _Current_, which means either a freeze 2 weeks before the first LTS, or cutting th

[2017-11-02 21:26] schmod commented on #281
Not sure how I missed that.  Will move the conversation over there!

[2017-11-02 21:26] #281 closed

[2017-11-02 22:12] rvagg commented on #271
Can someone give a summary of CVE-2017-3736 as it impacts Node? @shigeki? We need to decide whether rushing releases is worth it. I haven't had a look in detail yet but I'm hearing that exploits are pretty improbable.

[2017-11-02 22:20] rvagg commented on #271
found discussion in nodejs/security, will sync with discussion here when we come up with a proposal, thanks @MylesBorins for pointing me to that!

[2017-11-02 23:41] rvagg commented on #271
Proposed announcement @ https://github.com/nodejs/nodejs.org/pull/1443, pls review!

Summary release plan:

[2017-11-03 17:52] MylesBorins commented on #280
We will also want to include

https://github.com/nodejs/node/pull/16724

[2017-11-03 17:58] MylesBorins commented on #280
Change all the lists to check marks, everything is currently up to date as to which patches are currently on v8.x-staging

[2017-11-03 17:59] MylesBorins commented on #275
I've landed #277

Feel free to open the issue

[2017-11-04 04:32] MylesBorins commented on #280
Closing this out for a meta release issue

[2017-11-04 04:32] #280 closed

[2017-11-04 04:37] MylesBorins opened #282 "November 7th release for all lines"
So we have the openssl security release to do which we have deemed low-severity and as such is going out with the regularly scheduled releases on November 7th. We have LTS releases covered, but need someone to step up to handle the 9.x release. The openSSL changes have already been staged on v9.x-staging. although we may want to roll more stuff into the release. The various patches for breakages f

[2017-11-06 19:58] MylesBorins commented on #282
ping @nodejs/release is someone picking up the 9.x release?

[2017-11-06 20:21] cjihrig commented on #282
I *think* I can pick up the 9.x release.

[2017-11-06 22:08] rvagg commented on #282
I'll do it if it's a problem for you @cjihrig, let me know

[2017-11-06 23:18] cjihrig commented on #282
Thanks @rvagg!

[2017-11-08 09:41] #271 closed

[2017-11-11 00:16] #282 closed

[2017-11-14 16:19] MylesBorins commented on #263
I've updated the wiki. We may revisit for another minor on 6.x in January

[2017-11-14 16:19] MylesBorins commented on #263
I've updated the wiki. We may revisit for another minor on 6.x in January

[2017-11-14 16:19] #263 closed

[2017-11-15 15:17] MylesBorins commented on #264
Any more thoughts on this regarding the transition?

[2017-11-15 15:29] gibfahn commented on #264
I think end of month makes sense.

[2017-11-16 21:43] mhdawson commented on #264
My preference is the end of the month as well.

[2017-11-17 16:41] MylesBorins commented on #264
As we have a release scheduled for April 4th does it make sense to simply "transition" the release line without doing it in a release?

[2017-11-17 20:46] mhdawson commented on #264
I don't think we actually change anything when we "transition" so unless there is a case were something needs to go in between the 4th and the end of the month simply "transitioning" without a release makes sense to me.

[2017-11-17 22:53] mhdawson opened #286 "Node.js Foundation Release WorkGroup Meeting 2017-11-20"
## Time

**UTC Mon 20-Nov-2017 21:00 (09:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 20-Nov-2017 13:00 (01:00 PM) |
| US / Mountain | Mon 20-Nov-2017 14:00 (02:00 PM) |
| US / Central  | Mon 20-Nov-2017 15:00 (03:00 PM) |
| US / Eastern  | Mon 20-Nov-2017 16:00 (04:00 PM) |
| Amsterdam     | Mon 20-Nov-2017 22:00 (10:00 PM) |

[2017-11-17 23:23] MylesBorins commented on #286
I will most likely not be able to make it as I will be in transit.

Will follow up with my though on individual issues in here before the
meeting

On Nov 17, 2017 5:53 PM, "Michael Dawson" <notifications@github.com> wrote:

[2017-11-20 14:06] mhdawson commented on #275
Can we close this now ? Looks like the update to the image landed.

[2017-11-20 14:30] #275 closed

[2017-11-20 21:00] mhdawson commented on #286
Link for participants https://hangouts.google.com/hangouts/_/ytl/NRStxfOYUoxxTjEsNxWqI2W-vfGAwHGkcZA1X-4nqJU=?eid=100598160817214911030

[2017-11-20 21:01] Fishrock123 commented on #286
I don't know how to make HOA meetings, fwiw. Is anyone around for this?

[2017-11-20 21:01] mhdawson commented on #286
Just added the link a minute ago

[2017-11-20 21:04] Fishrock123 commented on #278
Seems like a good idea.

[2017-11-20 21:07] mhdawson commented on #286
For anybody waiting to watch the stream, we are still waiting on participants to join.

[2017-11-20 21:09] MylesBorins commented on #286
I'm in. A cab heading to hotel from airport

May be able to catch last couple minutes

Fwiw the nodejs calendar has this scheduled for an hour later

On Nov 21, 2017 5:07 AM, "Michael Dawson" <notifications@github.com> wrote:

[2017-11-20 21:10] mhdawson commented on #286
I just double checked the calendar and it shows 4-5 PM EST

[2017-11-20 21:11] mhdawson commented on #286
We decided to cancel as it was just myself and @Fishrock123.

@nodejs/lts should we try to reschedule to another time or wait for the next meeting in 3 weeks.

[2017-11-20 21:15] Fishrock123 commented on #228
We (NodeSource) would like to have access to `process.ppid` in LTS branches - https://github.com/nodejs/node/pull/16839

It requires a libuv upgrade, so we will have to see if that is feasible. If not, I imagine the backport of that particular feature would not be overly complex.

[2017-11-20 21:15] Fishrock123 commented on #286
Maybe something something timezones?

[2017-11-20 22:28] cjihrig commented on #228
FWIW, the libuv 1.x release line should continue to be backport-able.

[2017-11-20 22:46] MylesBorins commented on #228
@Fishrock123 which version of libuv? We updated v6.x and v8.x to 1.15.0 in the last minor

There is room for a minor on 6.x and 8.x in February if we want to do it... I would say this isn't likely to land on 4.x though

[2017-11-23 07:38] Mabinogiysk opened #289 "Can not shutdown nodejs in Win8"
I want to install hexo on my computer. I executed command `npm install -g hexo-cli` in PowerShell and it stop download hexo at some point.
I terminated this command with `Ctrl + C`, it failed. Then I terminated it with Task Manager, it also failed.
I even could not shutdown my computer. I have tried twice and nothing different.
![image](https://user-images.githubusercontent.com/12441989/33162231-4

[2017-11-23 16:57] mhdawson commented on #289
I think you may have opened this in the wrong repository as I don't understand how it relates to the Release WG.  Possibly you want to open in https://github.com/nodejs/help

[2017-11-24 17:08] Fishrock123 commented on #228
From the PR:

[2017-11-27 12:17] rarkins opened #290 "Release metadata"
Apart from the [release.json](https://github.com/nodejs/Release/blob/master/schedule.json) in this repository, what other sources of node metadata can be considered authoritative? e.g. are [node releases on GitHub](https://github.com/nodejs/node/releases) the source for - or always in-sync with - what's published to nodejs.org?

In particular, I'm looking for metadata that will tell me:

(1) Which

[2017-11-28 05:43] TimothyGu commented on #208
Backport PR: https://github.com/nodejs/node/pull/17365

[2017-11-28 15:16] mhdawson commented on #208
+1 from me as well.

[2017-11-28 15:18] mhdawson commented on #290
@rarkins from your update it just sounds like you are missing (2) the minimum recommended base on security reasons, right ?

[2017-11-28 15:51] jasnell opened #291 "Node.js 10.0.0 Tracking"
FYI... I will be kicking off the process for Node.js 10.0.0 the first week of January. Current plan is to create the actual `v10.x` and `v10.x-staging` branches on March 1st.

[2017-11-28 16:54] rarkins commented on #290
@mhdawson yes, that's the case. Although if both (1) and (2) could be added to `release.json` in this repository, that would be far superior. Assuming that updating to/past important security updates is important for node users, putting it in the most obvious/easy location possible for automated flagging would be best.

[2017-11-28 21:37] mhdawson commented on #290
@rvagg from the name `schedule.json` I'm guessing the intent was not to have data beyond the schedule but I can see the value of adding the requested data.  1) would be a one time thing, 2) would be a bit more work in that it would have to be updated for every security release.

[2017-11-28 21:38] mhdawson commented on #291
+1

[2017-12-02 01:41] rvagg commented on #290
This is information that I'd like to have available as well. I don't mind extending schedule.json with this but the manual updating would be a problem. We'd just have to build that into doc/releases.md and scold people every time it's not done I suppose. The only other place I can imagine pulling it from is the commit log and/or blog post where we generally say "security" in there but there's no f

[2017-12-04 17:37] mhdawson commented on #290
@rvagg sounds good.  I'll submit a PR for the changes to doc/releases.md

[2017-12-04 20:06] mhdawson commented on #286
At this point I'm just closing this and we'll meet at the next regular time.

[2017-12-04 20:06] #286 closed

[2017-12-04 21:13] bnb commented on #290
This may be something @nodejs/automation may be interested in helping out with. Seems like something that we may be able to automate and make seemless 😁

[2017-12-04 22:39] MylesBorins opened #292 "CITGM Audit"
Hey All

Just finished a fairly large citgm audit and updated the lookup table accordingly (and sent PRs to a few modules)

AFAICT [6](https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker-nobuild/208/), [8](https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker-nobuild/207/), and [9](https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker-nobuild/206/) should now all be mostly green asid

[2017-12-05 11:45] joyeecheung commented on #290
I was not aware of `schedule.json` before this issue, but I can see where I could help. On the top of my head, the approach that makes the most sense to me is first creating a tool that gives you a checklist for the release process (it can visit various urls and pattern match things in https://github.com/nodejs/node/blob/master/doc/releases.md). From there we could make the tool automate/generate

[2017-12-11 20:50] mhdawson opened #293 "Node.js Foundation Release WorkGroup Meeting 2017-12-11"
## Time

**UTC Wed 13-Dec-2017 21:00 (09:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 13-Dec-2017 13:00 (01:00 PM) |
| US / Mountain | Wed 13-Dec-2017 14:00 (02:00 PM) |
| US / Central  | Wed 13-Dec-2017 15:00 (03:00 PM) |
| US / Eastern  | Wed 13-Dec-2017 16:00 (04:00 PM) |
| London        | Wed 13-Dec-2017 21:00 (09:00 PM) |

[2017-12-11 20:51] mhdawson commented on #293
@nodejs/Release just noticed the calendar shows a meeting for today.  Probably too late notice for everybody but thought I'd create issue so we can see what is on the agenda and decide to reschedule or cancel  (or if everybody can make 4 EST today (10 mins from now) do the meeting.  Please comment.

[2017-12-11 20:57] rvagg commented on #293
I'm ok with today or rescheduling. It's going to get harder to pull people together the further we push into December.

[2017-12-11 20:59] mhdawson commented on #293
Agreed. I can make the start of the meeting today, but can likely join in 15 min or so in if everybody else decides to get together today.

[2017-12-11 21:01] Fishrock123 commented on #293
I'm pretty readily available so, whenever works best for other folks. Today or otherwise.

[2017-12-11 21:15] MylesBorins commented on #293
I’m available today, but can do another date if neccessary

[2017-12-11 21:21] Fishrock123 commented on #293
20 after, we should probably just call it off and reschedule

[2017-12-11 21:22] MylesBorins commented on #293
Oh no, I had it for 5pm

[2017-12-11 21:49] mhdawson commented on #293
How about tomorrow (Tuesday) at the original time 4 EST ?

[2017-12-11 22:03] Fishrock123 commented on #293
I'm in transit effectively all of tomorrow.

[2017-12-11 22:03] MylesBorins commented on #293
wfm

[2017-12-11 22:06] mhdawson commented on #293
Since @Fishrock123 is busy Tues, how about Wed at 4 EST ?

[2017-12-11 22:06] MylesBorins commented on #293
Wednesday works for me too

[2017-12-12 10:11] gibfahn commented on #293
SGTM

[2017-12-12 14:25] mhdawson commented on #293
Ok moving to wednesday.

[2017-12-13 19:59] mhdawson commented on #293
Turns out I have a conflict with the Diagnostics WG meeting this week.  I'd like to be there for any discussions on the upcoming summit so I'll miss this one. @MylesBorins can you setup the hangout for the meeting ?

[2017-12-13 20:25] MylesBorins commented on #293
Since we don't have confirmation from @Fishrock123 and you can't make it and I'm not seeing anyone else chime in I'm going to suggest that we cancel.

TBQH the only thing we need to meet about that can't be handled well in an issue tracker is signing off on semver-minors... but that release isn't for another month.

Perhaps we should consider cancelling the standing meeting and instead holding mee

[2017-12-13 20:27] jasnell commented on #293
+1 to canceling standing meetings.

[2017-12-13 20:59] rvagg commented on #293
Meetings will never happen if we do it that way around. I doubt anyone's ever going to call for a meeting. Are we ok with that?

[2017-12-13 20:59] MylesBorins commented on #293
@rvagg I will personally call for meetings every time we need to review semver-minors

[2017-12-15 00:16] rvagg commented on #293
@mylesborins great, +1 then.

[2017-12-15 01:19] OB1-Skywalker opened #294 "the {mamacita(s) underlying crawler"

[2017-12-15 01:25] #294 closed

[2017-12-21 09:45] vmarchaud opened #295 "Public API to get changelog and releases"
Hello everyone, first i'm not sure this is the right group for this issue, if not i'm will be happy to re-open it in the repo of the appropriate group :)

We (at @keymetrics) want our users to know when there are update (either minor or major) to nodejs that our customers can make in order to have better performance or new features.
We found [this static file](https://nodejs.org/dist/index.json) t

[2017-12-22 00:04] hbetts commented on #295
@vmarchaud you may be interested in #290. A similar need has been documented in that issue, where a service would like to programmatically know when new releases of Node are made so that downstream consumers of the service can be notified.

[2017-12-28 21:22] bnb opened #296 "LTS/Release repo naming"
I'm working on some writing right now and I came across the [Ember.js LTS Support blog post](https://www.emberjs.com/blog/2016/09/07/ember-node-lts-support.html). In this blog post, there's a link to nodejs/LTS - the former name of this repo, which was the intended target at time of writing (September 2016).

With the introduction of the _current_ nodejs/lts repo, there's a possibility for easy co

[2017-12-28 23:18] MylesBorins commented on #296
🙃

i'd like to propose the following

* change the name of the current `nodejs/lts` to `nodejs/lts-schedule`
* include a copy of the current schedule in the readme
* temporaryily change `nodejs/release` back to `nodejs/lts`
* revert that change immedietely

This should "theoretically" recreate the redirect behavior that we were expecting.

[2017-12-28 23:18] MylesBorins commented on #296
/cc @cjihrig

[2017-12-28 23:20] gibfahn commented on #296
Whoops! +1 to what @MylesBorins suggests, I don't think that was intentional and we should fix linking.

[2017-12-28 23:48] cjihrig commented on #296
SGTM

[2018-01-03 16:55] mhdawson commented on #296
SGTM

[2018-01-03 17:02] mhdawson commented on #295
@vmarchaud I'm wondering if a first step is a an npm module which parses the existing data to provide the API you are suggesting.  That would provide a concrete idea of what the API would provide.  Once its available we could assess its popularity and consider bringing it under the foundation repo if there is enough usage to justify it.  @nodejs/release what do you thinks ?

[2018-01-03 17:04] mhdawson commented on #293
Ok, I'll remove from the Foundation Calendar if we have all agreed to cancel/

[2018-01-03 17:22] gibfahn commented on #295
Sounds like the right way to go.

[2018-01-03 23:20] gibfahn commented on #262
@ralphtheninja @rvagg what's the status of this? Anything I could do to help out?

[2018-01-03 23:50] ralphtheninja commented on #262
@gibfahn `ghrepos` has support for retrieving commit comments so I'm guessing it would be a matter of tweaking `changelog-maker`.

[2018-01-04 09:29] vmarchaud commented on #295
Okay so we will start working on a proof of concept soon and get back to you when we think it's suitable for general use :)

[2018-01-04 21:15] mhdawson commented on #295
@vmarchaud sounds good :)

[2018-01-05 19:44] #264 closed

[2018-01-05 22:51] cjihrig commented on #296
The plan in https://github.com/nodejs/Release/issues/296#issuecomment-354373040 is done, minus adding a copy of the schedule to the lts-schedule repo.

[2018-01-05 22:51] #296 closed

[2018-01-09 08:20] MylesBorins opened #298 "Semver Minor Tracking"
We have a month with 5 Tuesdays, this means we can do a Semver Minor release!!!

I'm thinking it makes sense for both 6.x and 8.x.

Will follow up with a list of potential commits soon (unless someone else wants to do it first :D)

[2018-01-10 00:41] MylesBorins opened #299 "Creating release schedule for Current line"
Hey all,

Up until now we've gotten away without an explicit release schedule for our current release line. Generally this has worked, but lately it has been a bit of a problem. There was a 1 month gap between v9.3.0 and the v9.4.0 proposal, which in turn can block our ability to do an LTS release (no commits to audit, no LTS release)

I'd like to propose that we at the very least plan bi-weekly r

[2018-01-10 00:53] jasnell commented on #291
Ping @nodejs/release @nodejs/lts @nodejs/tsc .@nodejs/collaborators.. Because Node.js 10.x will be an LTS branch, it needs an LTS code name. The 8.x code name was "Carbon", which means we're on the D's. Unfortunately, the options for `D` are quite limited.

* `Darmstadtium` - "the synthetic chemical element of atomic number 110. It is a superheavy metal that decays in thousandths of a second."
* `

[2018-01-10 00:58] ofrobots commented on #291
My vote is none of the above. Let's pick another theme.

[2018-01-10 00:59] jasnell commented on #291
aww ;-)

[2018-01-10 01:00] kapouer commented on #291
??? Diamond !!!

[2018-01-10 01:03] trivikr commented on #291
[Deuterium](https://en.wikipedia.org/wiki/Deuterium)?
It has a number of commercial and scientific uses, like nuclear reactors, spectroscopy, tracing, drugs etc

[2018-01-10 01:13] MylesBorins commented on #291
The element system will eventually fall apart as there are not elements for
every letter.

It might be worth considering another naming scheme

On Jan 9, 2018 8:03 PM, "Trivikram" <notifications@github.com> wrote:

[2018-01-10 01:14] jasnell commented on #291
Sure. Any suggestions?

[2018-01-10 01:19] bengl commented on #291
Is there actual value in still having a naming scheme? The numbers seem to be used basically everywhere.

[2018-01-10 01:19] MylesBorins commented on #291
Animals
Comic book characters
Cities
Spices
Movie titles

On Jan 9, 2018 8:14 PM, "James M Snell" <notifications@github.com> wrote:

[2018-01-10 02:22] ronkorving commented on #291
- (Computer?) Scientists
- Stars and other celestial objects
- Star Wars characters (I think trademarks may be an issue though, same may be true for comic books)
- Food (Android is already exhausting confectionery names though)

[2018-01-10 02:52] Trott commented on #291
* Muppet characters (Animal, Beaker, Camilla, Dr. Teeth...)
* Homestar Runner characters (Arrow'd Guy, Bubs, The Cheat, Drive-Thru Whale, Fhqwhgads...)

[2018-01-10 02:53] MylesBorins commented on #291
Come on... Fhqwhgads

On Jan 9, 2018 9:52 PM, "Rich Trott" <notifications@github.com> wrote:

[2018-01-10 03:25] klimashkin commented on #291
<details>
  <summary>Positive Words That Start With D</summary>
  <p>
DABBLE, DAIMON, DAINTIFY, DAINTY , DANCE, DANCER , DANDY, DANKE, DANKEN, DAPPER , DAPPERLY, DARING , DARINGLY, DARLING , DASHING, DASHINGLY , DAUNTLESS , DAUWTRAPPEN, DAWN, DAYEE, DAZZLE, DAZZLED, DAZZLING, DAZZLINGLY , DEAD-CHEAP, DEAD-ON, DEAN , DEAR , DEAR ME, DEARLY, DEBONAIR, DEBONAIRLY , DECENCY , DECENT, DECENTLY , DECIDI

[2018-01-10 03:54] riyadhalnur commented on #291
Dragonfly

[2018-01-10 05:02] hashseed commented on #291
My first thought was also Diamond. While not an element, it is a configuration of carbon.

I also thought to skip to E, but E doesn't have any good (non-radioactive) choice either.

So a new theme does make sense. Geographic locations are probably safe wrt trademark, but ianal.

[2018-01-10 05:13] MylesBorins commented on #291
We likely should only use ideas that we can complete an alphabet with.

Some of these are a stretch, but it is fun how many cultures are represented

## Herbs + Spices

Dill
Epazote
Fennel
Garlic
Horseradish
Italian Seasoning
Jalapeno Powder
Kaffir
Lavendar
Marjoram
Nutmeg
Oregano
Parsley
Quatre epices
Rosemary
Sage
Thyme
Urfa Biber
Vadouvan
Wasabi
Xanthan Gum
Yellow Mustard Seed
Za'atar

[2018-01-10 05:19] Qard commented on #291
@hashseed Oh, interesting idea. Maybe we could name each release after a city from a country for which we have localization support. It'd be a great way to celebrate the diversity of our community. 😊

[2018-01-10 05:22] MylesBorins commented on #291
### Capitol Cities

Algiers
Bangkok
Copenhagen
Dhaka
El Aioun
Funafuti
Georgetown
Hanoi
Islamabad
Jakarta
Kiev
Lima
Manila
Nassau
Ottawa
Paris
Quito
Reykjavík
Santiago
Tashkent
Ulaanbaatar
Vilnius
Washington, D.C.
😢 THERE IS NO X 😢
Yerevan
Zagreb

[2018-01-10 05:33] hashseed commented on #291
Node.js 14 LTS "Garlic" 🤨. I could get onboard with Ginger. Also "quatre epices" just means "four spices".

I'd also like to pitch animals. But Ubuntu already has that.

Or trees. Stable.

Douglas, Eucalyptus, Fir, Gingko, Hazel, Ironwood, Joshua Tree, [...](https://www.treenames.net/common_tree_names.html)

[2018-01-10 06:10] hashseed commented on #291
FWIW [Xi'an](https://en.wikipedia.org/wiki/Xi%27an) used to be a historic Chinese capital.

[2018-01-10 09:02] benjamingr commented on #291
Capitals is too politic IMO.

Other than fun, is there any reason we need a code name to begin with?

[2018-01-10 09:03] targos commented on #291
## Hot peppers

https://www.cayennediane.com/big-list-of-hot-peppers/

Node.js 10 "Dragon's breath"

[2018-01-10 09:07] vdeturckheim commented on #291
Mythical anymals,
come on what could be cooler than "Node.js Unicorn" ?

[2018-01-10 12:53] bnb commented on #291
I do think it's worth noting that we can make the decision to avoid selecting names in alphabetical order with whatever we choose next - that does seem to be the downfall of the Elements option. 😊

[2018-01-10 12:56] bnb commented on #291
+1 to:

- Comic book characters
- Hot Peppers

[2018-01-10 13:15] hashseed commented on #291
Or we could simply arbitrarily skip letters. As long as the list is monotonically growing and the element has a stable isotope we are fine?

Dysprosium would actually work. We could also skip to Erbium or Europium. Then there is Flourine, Gold, Helium/Hydrogen...

We could also choose [mineral names](https://en.wikipedia.org/wiki/List_of_minerals) or gems.
Amethyst, Beryl, Coral, Diamond, Emerald,

[2018-01-10 13:24] gabrielschulhof commented on #291
Not sure about comic book characters. Those names may be
copyright/trademark-encumbered.

https://github.com/jerryscript-project/jerryscript/pull/2013#discussion_r141041427

[2018-01-10 13:34] addaleax commented on #291
I also like the idea of just using Deuterium since it’s pretty much “close enough” to being an element, and more importantly, its name sounds like it is one.

(Or maybe Dilithium 😉.)

[2018-01-10 13:40] hashseed commented on #291
+1 for Dilithium.

Totally missed out on Adamantium, but we still got Kryptonite, Tiberium, Unobtanium and Vibranium.

[2018-01-10 13:49] rvagg commented on #291
Ooo, Dilithium would be really fun, perhaps the way ahead here is to expand beyond elements and include compounds. Dilithium has added fun benefits here of course. +1 from me!

[2018-01-10 14:22] evanlucas commented on #299
Works for me. Sorry I haven't been as available to cut releases lately due to work and vacation :]

[2018-01-10 14:25] gabrielschulhof commented on #291
+1 assuming we won't get any heat from Paramount.

On Wed, Jan 10, 2018 at 8:49 AM, Rod Vagg <notifications@github.com> wrote:

[2018-01-10 15:18] MylesBorins commented on #298
@nodejs/lts quick ping, do people have time to meet and discuss this at all next week?

[2018-01-10 18:12] Fishrock123 commented on #299
This is seeming more and more like a good idea to me.

[2018-01-10 21:28] nabsource commented on #291
Hard Woods?

https://en.wikipedia.org/wiki/List_of_woods

Node.js 10 "Dogwood"
Node.js 10 "Teak"
Node.js 10 "Araucaria araucana"

[2018-01-10 22:16] ChALkeR commented on #291
_Cryptocurrencies. There should be enough of those to choose from for every letter… :rofl:_

Seriously, «Deuterium» is pretty nice while keeping the old naming scheme.

[2018-01-10 22:18] jkrems commented on #291
I really like the suggestion of Dilithium (shouldn't be an issue I assume since it's also a real "thing" outside of trek) and Deuterium has a nice ring to it as well.

[2018-01-11 00:22] gibfahn commented on #298
Next week SGTM

[2018-01-11 00:53] julianduque commented on #291
Pokemon! I would love a Node.js 10 Ditto LTS and there are plenty of those https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_name

[2018-01-11 03:21] ronkorving commented on #291
@julianduque Like with my proposed "Star Wars characters" and the proposed "comic book characters", "Pokemon characters" too are probably all trademarked. Probably best avoided.

[2018-01-11 17:04] chorrell commented on #291
If you're looking for a new source of possible names to use, I would like to suggest this:

https://en.wikipedia.org/wiki/Women_in_computing

[2018-01-11 17:27] hashseed commented on #291
That's actually an awesome idea. But what order?

[2018-01-11 18:51] chorrell commented on #291
Firstname, lastname? Ada (Lovelace) is a pretty obvious choice to start with if you want to restart and start with 'A' names.

[2018-01-11 20:35] mhdawson commented on #298
Next week SGTM

[2018-01-11 20:36] mhdawson commented on #299
I like the idea, but will leave it up to those doing the Current releases :)

[2018-01-11 23:45] MylesBorins commented on #298
I've created two gists
[node v6.x semver minors](https://gist.github.com/MylesBorins/6263cf6815af186a3f23524d057541f2)
[node v8.x semver minors](https://gist.github.com/MylesBorins/b7fc68a6d4101f6aa2ef69baef9b2341)

I'm quite sick and may not have the ability to review this in a timely fashion

@nodejs/release @nodejs/lts @nodejs/collaborators @nodejs/tsc would people be able to review these lists

[2018-01-12 05:21] TimothyGu commented on #298
Let me know what I need to do to get https://github.com/nodejs/node/issues/17365 into v6.x, or if it is already ready to be applied.

[2018-01-12 17:24] mcollina commented on #298
I would like to have:

c5c4a534d1
4b0c8759d3
edb9846884

backported.

[2018-01-13 22:14] MylesBorins commented on #298
Another quick ping to @nodejs/collaborators to review these lists. I really would appreciate any work y'all can do.

[2018-01-14 05:57] sam-github commented on #291
Don't know why we have code words at all, but I like `Dubnium`! For the irony James mentioned, and its easy to spell and to say.

[2018-01-14 23:50] gibfahn opened #300 "Node.js Foundation Release WorkGroup Meeting 2018-01-15"
## Time

**UTC Mon 15-Jan-2018 21:00 (09:00 PM)**:
| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Mon 15-Jan-2018 13:00 (01:00 PM) |
| US / Mountain | Mon 15-Jan-2018 14:00 (02:00 PM) |
| US / Central  | Mon 15-Jan-2018 15:00 (03:00 PM) |
| US / Eastern  | Mon 15-Jan-2018 16:00 (04:00 PM) |
| London        | Mon 15-Jan-2018 21:00 (09:00 PM) |

[2018-01-14 23:51] gibfahn commented on #300
@nodejs/lts we need to meet tomorrow to review semver-minors. Let me know if you can't do this time (our normal meeting time but on a Monday).

[2018-01-14 23:53] MylesBorins commented on #300
I'll be able to attend but likely only able to participate via text

On Jan 14, 2018 6:50 PM, "Gibson Fahnestock" <notifications@github.com>
wrote:

[2018-01-15 04:26] KevinBurton opened #301 "Deprecation warning in Dockerfile?"
I have a Dockerfile

[code]
I get a deprecation warning that I would like to avoid.
[code]
I am not sure how to avoid this deprecation warning.  Ideas?

[2018-01-15 10:37] Nephross commented on #301
@KevinBurton Do you have a specific need to use Node.JS v 0.10?

Otherwise it might be an idea to specify a newer node version to install in your dockerfile. eg.
`curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash` as your Node installation source for the latest LTS version.

[2018-01-15 10:46] bnoordhuis commented on #301
Don't avoid it, heed it.

I'll close this out but I'll just mention that v0.10 has known security issues.  Don't use it.

[2018-01-15 10:46] #301 closed

[2018-01-15 12:08] evanlucas commented on #298
I would like to see https://github.com/nodejs/node/commit/8d90db5120 and the async_hooks commits land in v8.x

[2018-01-15 15:33] AndreasMadsen commented on #298
@evanlucas Indeed, I tried adding `lts-watch-v8.x` to all the `async_hooks` changes.

[2018-01-15 16:32] mhdawson commented on #300
I can make it.

[2018-01-15 17:23] MylesBorins commented on #298
@AndreasMadsen would you be able to do a batch backport?

[2018-01-15 20:24] AndreasMadsen commented on #298
@MylesBorins I can definitely try.

[2018-01-15 21:02] gibfahn commented on #300
@mhdawson could you host the meeting?

[2018-01-15 21:27] MylesBorins commented on #298
@AndreasMadsen for async_hooks were you talking about 8.x or 6.x?

[2018-01-15 21:34] MylesBorins commented on #298
@mcollina would you like to see https://github.com/nodejs/node/pull/12828 backported? If so it would need a backport PR

[2018-01-15 22:00] MylesBorins commented on #298
We would like to land https://github.com/nodejs/node/pull/13467 but it requires manual backport of the documentation. Would someone be interested in taking that on?

[2018-01-15 22:12] MylesBorins commented on #298
@Trott would you want to backport https://github.com/nodejs/node/pull/14910 to v6.x? nbd if you don't have time

[2018-01-15 22:15] MylesBorins commented on #298
@cjihrig would you want to backport https://github.com/nodejs/node/pull/15034 to v6.x?

[2018-01-15 22:19] MylesBorins commented on #298
@nodejs/crypto would anyone want to backport https://github.com/nodejs/node/pull/15206?

[2018-01-15 22:44] MylesBorins commented on #298
@danbev could you backport https://github.com/nodejs/node/pull/16790

[2018-01-15 23:01] gibfahn commented on #298
@maclover7 could you backport https://github.com/nodejs/node/pull/16386 ?

[2018-01-15 23:20] gibfahn commented on #299
Big +1 on this, at this point it seems necessary. Otherwise Myles ends up maintaining two release lines.

[2018-01-16 01:56] MylesBorins commented on #299
I'd like to propose that we commit to bi-weekly releases on the first and third Tuesday of the month as this will align with the LTS release / RC schedule.

We can batch by quarter and have release managers sign up in advance for the releases they want to handle. I'd personally like to see every active release manager handle at least 1 release per quarter.

Thoughts?

[2018-01-16 01:59] jasnell commented on #299
Assuming there are people to make it happen, then ok.

BTW, my current plan is to release Node.js 10.0.0 on April 24th

[2018-01-16 02:01] jasnell commented on #299
Also, keep in mind that a significant reason for the delay been 9.3 and 9.4 was the holiday that interceded in the middle of that. Whatever schedule is chosen needs to account for reasonable delays, and I believe the holidays count as such

[2018-01-16 02:02] MylesBorins commented on #299
@jasnell there was a month between 9.2 and 9.3 as well, fwiw

[2018-01-16 07:28] AndreasMadsen commented on #298
@async_hooks should not land in 6.x. I have already added `dont-land` labels for 6.x

[2018-01-16 11:32] AndreasMadsen commented on #298
I think this is the list of `async_hooks` commits there should be backported. Some of these are `trace_events` related, but `async_hooks` and `trace_events` becomes connected as we are now emitting `async_hooks` event through `trace_events`. I will try and make a batch backport, although I might need help with https://github.com/nodejs/node/pull/16565.

* [b12425d055] - async_hooks,test: only use

[2018-01-16 12:34] gibfahn commented on #298
If it'd make more sense for @yhwang to backport that one separately that's fine by me.

[2018-01-16 13:22] AndreasMadsen commented on #298
@gibfahn It wasn't too big of an issue. I have already backported the first 7 commits.

I hope to have it all done within the next 6 hours. I would appreciate if we can put `v8.x-staging` on hold until then, so I don't have to do all this again.

[2018-01-16 13:36] AndreasMadsen commented on #298
I was missing two commits there was under the `async_wrap` tag.

* [b12425d055] - async_hooks,test: only use IPv6 in http test (Andreas Madsen) https://github.com/nodejs/node/pull/18143
* [8479606a24] - (SEMVER-MINOR) async_hooks,http: set HTTPParser trigger to socket (Andreas Madsen) https://github.com/nodejs/node/pull/18003
* [fbad8bb1fa] - async_hooks: update defaultTriggerAsyncIdScope for perf

[2018-01-16 16:05] AndreasMadsen commented on #298
@MylesBorins @gibfahn @evanlucas  **I have finished the `async_hooks` backport, the list became quite long: https://github.com/nodejs/node/pull/18179** Please merge this as fast as possible, I don't want to do it again because some commit got merged into `v8.x-staging`.

[2018-01-22 06:38] TimothyGu commented on #298
https://github.com/nodejs/node/pull/17470 should also be included in the v6.x backport of WHATWG URL parser as it fixes a critical memory leak.

[2018-01-22 07:50] MylesBorins commented on #298
@TimothyGu lands cleanly on v8.x with green tests. Doesn't work on v6.x as https://github.com/nodejs/node/commit/9236dfe1ef3becfc02a18770ec5e74bf3b01bd99 utilizes std::move. Requesting backport

[2018-01-22 11:22] gibfahn opened #303 "Show dates for current versions"
See https://github.com/nodejs/Release/pull/297#issuecomment-355983919

[2018-01-22 14:49] styfle opened #304 "Periodic Table does not have an element starting with "J" or "Q" or "W""
I looked up the [List of chemical elements](https://en.wikipedia.org/wiki/List_of_chemical_elements) and noticed there are no elements starting with "J" or "Q" or "W".

I realize that we won't hit "J" for 7 more LTS releases but I'm curious...how will the "codename" be decided in those 3 cases?

------

*UPDATE*: looks like I'm not the first to [notice](https://github.com/nodejs/Release/issues/163

[2018-01-22 14:59] addaleax commented on #304
It’s not exactly an answer to this question, but you may want to take a look at what we’re discussing for Node 10.x/the letter D (https://github.com/nodejs/Release/issues/291).

(I guess the real answer is “we don’t know”.)

[2018-01-22 16:05] styfle commented on #291
I vote `Dubnium` because it's the easiest to say of the 3 elements and the shortest.

I think we've come to far now to pick another theme, but I would be okay with including minerals or isotopes because it feels close enough to elements.

We can wait for the rollover from `Z` to pick a brand new theme.

[2018-01-30 21:58] mhdawson commented on #291
+1 for Dilithium.

[2018-01-30 21:58] mhdawson commented on #304
I think we can just skip those letters.

[2018-02-06 09:54] HRK44 commented on #291
Dubnium is cool.

I'd suggest Computer Science world known name as a list, for D I'd suggest Dijkstra - shortest path between **_nodes_** in a graph :)

[2018-02-07 22:34] mhdawson opened #307 "Revising changelog"
Review and make decision on https://github.com/nodejs/node/pull/17062

[2018-02-09 16:54] MylesBorins opened #308 "Delaying v8.x semver-minor release"
There are two semver minor PRs against 8.x that we would like to land (they are finally green), but have not had time to do a proper r.c.

https://github.com/nodejs/node/pull/16413 (update V8 to 6.2)
https://github.com/nodejs/node/pull/18622 (add support for openssl 1.1.0)

The release is planned for next Tuesday. I think we should delay.

We have a couple options

* Backout semver minor commits f

[2018-02-09 17:17] richardlau commented on #308
Agreed that we should allow time for a proper release candidate for the two mentioned semver-minors. I guess the question is whether the remaining semver patch commits warrant a semver patch release.

cc @kasicka re. https://github.com/nodejs/node/pull/16509#issuecomment-363143369 and https://github.com/nodejs/node/pull/18625

[2018-02-09 19:46] richardlau commented on #308
What about releasing the semver-minors that are in the current rc as planned and delay the two mentioned commits to the next semver-minor (possibly make March also semver-minor)?

[2018-02-09 19:55] MylesBorins commented on #308
@richardlau we've actively avoided doing multiple semver minors for LTS in the past. The next scheduled minor would be next quarter... we could do this but I don't like the precedent it sets

[2018-02-09 22:32] mhdawson commented on #308
My preference would be to delay by 1-2 weeks.

[2018-02-09 23:17] MylesBorins commented on #308
@mhdawson I am open to that

The current schedule has the 20th as the date for the next r.c, how do you think we should go about that?

[2018-02-10 21:48] MylesBorins commented on #101
Closing as status quo seems to be sufficient

[2018-02-10 21:48] #101 closed

[2018-02-10 21:49] #111 closed

[2018-02-10 21:49] #113 closed

[2018-02-10 21:49] #132 closed

[2018-02-10 21:50] MylesBorins commented on #208
Coming out in 6.13.0

[2018-02-10 21:50] #208 closed

[2018-02-10 21:50] MylesBorins commented on #212
We did this last time, but having a group to review at the end was v effective

[2018-02-10 21:50] #212 closed

[2018-02-10 21:51] #224 closed

[2018-02-10 21:51] #228 closed

[2018-02-10 21:51] MylesBorins commented on #231
closing as v4.x is not likely to get another release

[2018-02-10 21:51] #231 closed

[2018-02-10 21:51] MylesBorins commented on #238
ping @refack

[2018-02-10 21:52] MylesBorins commented on #240
Closing for now, things have not been as hard for people submitting PRs lately

[2018-02-10 21:52] #240 closed

[2018-02-10 21:52] MylesBorins commented on #246
please reopen if there is more to discuss

[2018-02-10 21:52] #246 closed

[2018-02-10 21:52] MylesBorins commented on #251
Since we don't have regular meeting this is no longer needed to be discussed

[2018-02-10 21:52] #251 closed

[2018-02-10 21:54] #254 closed

[2018-02-10 21:54] MylesBorins commented on #256
AFAIK this has been done

[2018-02-10 21:54] #256 closed

[2018-02-10 21:54] MylesBorins commented on #260
Closing due to lack of activity. Can reopen if there is need for more discussion

[2018-02-10 21:54] #260 closed

[2018-02-10 21:55] MylesBorins commented on #262
@gibfahn should this move to branch-diff?

[2018-02-10 21:55] MylesBorins commented on #278
@ofrobots I'm going to close this for now, but I am fairly confident this will not rpeat

[2018-02-10 21:55] #278 closed

[2018-02-10 21:55] #293 closed

[2018-02-10 21:56] #289 closed

[2018-02-10 21:56] #292 closed

[2018-02-10 21:56] MylesBorins commented on #295
Any updates?

[2018-02-11 13:53] gibfahn commented on #308
We've already delayed a week right? So in total this release would be 3 weeks late. In that case we probably just want to drop the March 6th release and do 8.10.1 on April 3rd instead.

Date | Release
------------ | -------
January 2nd | v8.9.4
January 23th | v8.10.0-rc
~February 13th~ | ~v8.10.0~
February 27th | v8.10.0
~February 20th~ | ~v8.10.1-rc~
~March 6th~ | ~v8.10.1~
March 20th | v8.10.~2~

[2018-02-11 16:57] #107 closed

[2018-02-11 18:30] gibfahn commented on #256
Not sure if it should be in this issue or another, but I don't think there is a nodejs/Release top-level team.

[2018-02-11 21:48] richardlau commented on #256
We could also use [ncu-team](https://github.com/nodejs/node-core-utils/blob/master/docs/ncu-team.md) as other repos are.

[2018-02-12 05:38] MylesBorins commented on #308
@gibfahn would we potentially just want to push the release until the 6th?

[2018-02-12 09:52] gibfahn commented on #308
You mean the v8.10.0 release? I'm not opposed to doing that.

[2018-02-12 15:11] MylesBorins commented on #308
I think that is what we should do to keep calendar simple

On Mon, Feb 12, 2018, 4:52 AM Gibson Fahnestock <notifications@github.com>
wrote:

[2018-02-15 17:32] mhdawson commented on #308
+1 to pushing to the 6th as well.

[2018-02-15 17:35] mhdawson commented on #307
I'm -0 as well.

[2018-02-18 21:00] gibfahn commented on #308
Done in https://github.com/nodejs/Release/wiki/Home/947ac13a5365e28aa8117aa2be40cd5347ffe7ca

[2018-02-18 21:00] #308 closed

[2018-02-19 01:04] gibfahn commented on #262
Sounds like it needs coordination across multiple repos, so I'd prefer to leave this open for now.

[2018-02-20 08:43] Matthias-Hermsdorf commented on #291
Next time start with Hydrogen, Helium,... and correlate the version with the atomic number. You will get the radiation problem decades later. But is to late for that.

[2018-02-20 19:00] richardlau commented on #291
I'm sure this was discussed when we originally named the first LTS release (argon) and that alphabetical order was chosen over atomic number. I can't find the issue where the decision was made, but https://github.com/nodejs/Release/issues/26 is the initial discussion and https://github.com/nodejs/node/pull/3212 landed the change.

[2018-02-22 20:38] MylesBorins opened #312 "Breaking change landed in v9.6.0"
https://github.com/nodejs/node/pull/17403#issuecomment-367814130 for reference

TLDR a commit landed that should have arguably been semver major. Should we do another release today or wait until next week?

[2018-02-22 22:59] gibfahn commented on #312
I think the quicker the better. Reverting this is arguably a semver-major change too, so the longer it's out there as latest the worse it is.

Obviously if no-one has the bandwidth to do another release right now then next week hopefully isn't the end of the world.

@watson could you give an idea of how many people you think this might break?

[2018-02-23 00:35] MylesBorins commented on #312
we have a fix open https://github.com/nodejs/node/pull/18944

If CI is green I'll put together a release and get it out tonight

[2018-02-23 04:09] MylesBorins commented on #312
v9.6.1 is out the door

[2018-02-23 04:09] #312 closed

[2018-02-23 14:01] wallet77 commented on #295
I'm working on it ;)

[2018-02-26 19:31] Announcement commented on #291
node version 10 code-name "dynamite"

[2018-02-27 16:48] bnb commented on #304
@MylesBorins agreed. I've already had a half dozen people ask me "well, what are you going to do for the letters that don't have a corresponding element" and I don't foresee skipping letters being a simple explanation to them - let alone simple to understand for those that don't ask.

[2018-03-02 04:22] BridgeAR commented on #307
Any conclusion here?

[2018-03-02 16:03] mhdawson commented on #307
@nodejs/release any other thoughts?

[2018-03-04 17:54] gibfahn commented on #307
I agree with @MylesBorins in general, although I don't think it makes much difference as the changelogs also include the PR numbers.

[2018-03-04 18:08] MylesBorins commented on #307
I'll move my stance to -1 if it simplifies things

Update the notable changes all day, do not change then commit messages for
anything other than escaping special characters

On Sun, Mar 4, 2018, 12:54 PM Gibson Fahnestock <notifications@github.com>
wrote:

[2018-03-04 18:13] BridgeAR commented on #307
Since this is now a -1 I went ahead and closed the PR. I think this is resolved now and should be closed.

[2018-03-04 20:43] cjihrig commented on #307
I agree with https://github.com/nodejs/Release/issues/307#issuecomment-370249979

[2018-03-07 02:42] olstenlarck commented on #291
Dynamite and Diamond are brilliant. I'm more for Diamond, because it represents fully that Nodejs now is absolutely amazing and with 99% support of ES2015, and probably to the end of v10 releases - 100%.

What about Douglas? On @douglascrockford.

[2018-03-07 22:06] ljharb commented on #291
Why were element names used in the first place when there weren't any good options for D?

If the theme is changed (which would be unfortunate imo), could at least the next few decades' worth of names be pre-selected (or at least each one narrowed down to a list of acceptable choices)?

[2018-03-08 12:17] apapirovski commented on #291
I'm +1 on Dilithium.

But as @ljharb said, whether we're sticking with the same theme or changing it, we definitely need to assess the viability of E, F, G, etc. so we're not having this conversation again next time. 😄

[2018-03-08 13:49] BridgeAR opened #313 "Don't pull in single commits from a multi commit PR"
There were a couple of occasions where the backporting tool seemed to pull in single commits from a multi commit PR even though other commits did not land cleanly (e.g. https://github.com/nodejs/node/pull/17615). This could result in weird states. I am currently not sure what tool is used for getting in all the commits and how it is used. So it would be great if someone could have a look at this (

[2018-03-09 13:39] #307 closed

[2018-03-09 13:45] gibfahn opened #314 "Update nodejs org teams to match structure in README"
https://github.com/nodejs/admin/issues/84#issuecomment-370971395

Handling access requirement for releasers is covered in: https://github.com/nodejs/build/issues/1177

Relevant section of the README: https://github.com/nodejs/Release#mandate

[2018-03-13 16:45] cxreg commented on #291
Dilithium is a nightmare to type btw, for any of us who will need to do so regularly

[2018-03-13 17:07] Fishrock123 commented on #291
`Dubnium` sounded fine to me, fairly simple, etc.

[2018-03-13 17:41] ljharb commented on #291
@cxreg just as an aside, what use case necessitates typing the LTS release name regularly?

[2018-03-13 17:42] cxreg commented on #291
@ljharb I may be an anomoly here but working at NodeSource makes it a common thing

[2018-03-13 18:13] bnb commented on #291
I imagine that qualification makes it more common than almost any other - I write each multiple times a day 😅

[2018-03-13 23:57] WaleedAshraf commented on #291
"Batman" maybe?

[2018-03-14 03:42] timotew commented on #291
*TL;DR.*
*Dubnium* is cool, But naming after animals base on major improvements might no be a bad idea.
*it doesn't always have to be in English.

I would have suggested naming an LTS animals. There is hardly an LTS focus an animal can't represent. Speed,  security,  Scalability e.t.c. I don't get to see "Carbon" around very much, It not in the download page or the CLI. I hope to be useful in thes

[2018-03-14 09:27] iSkore commented on #291
Talk about an LTS animal. Tortoise. Those things never die and it’s already the fan made Node.js mascot 😂 https://raw.githubusercontent.com/indexzero/http-server/master/screenshots/public.png

Covers the aspects @timotew mentioned minus the speed.

[2018-03-14 15:02] olstenlarck commented on #291
Tortoise is always too controversy.

[2018-03-14 15:27] timotew commented on #291
@olstenlarck , @iSkore  putting the controversy aside.

For an animal that small, that's fast. Also when people hear the name "Tortoise", They never see it as an Aqua-Terrestrial Animal and it's only judge by it speed on land, even though more than 90% of the planet is covered by water. I understand why Node maintained it, Node is everywhere now just like Tortoise.

[2018-03-15 23:37] ozbillwang opened #315 "[question] What's the plan for release 9.x?"
I do notice `release 9.x` is not planned with active status and its end of life is June 2018 (earlier than release 8.x)

I have an application running in 7.2, and plan to upgrade  it.

Should I upgrade it to release 9.x or release 8.x?

Need your input.

[2018-03-15 23:38] MylesBorins commented on #315
Hey Bill,

Generally we advise moving to an LTS release. Do moving to 8.x would make
the most sense at the moment. That branch has support until the end of 2019

On Thu, Mar 15, 2018, 4:37 PM Bill Wang <notifications@github.com> wrote:

[2018-03-15 23:43] ozbillwang commented on #315
Thanks for so quick response. @MylesBorins

My feeling is, I should upgrade to release with even numbers, such as 4, 6, 8 and 10 in the future.

[2018-03-15 23:43] #315 closed

[2018-03-20 02:30] AyushG3112 commented on #291
If we want something which will always have multiple options for each alphabet, what about **Pokemon**

[2018-03-20 07:35] richardlau commented on #291
That's because while tortoises are turtles they are land-dwellers and extremely poor swimmers.

[2018-03-22 11:20] MylesBorins opened #316 "Delay April LTS by 1 week for security release"
Hey All,

Thoughts on delaying the LTS release by a week to account for the security release going out next Tuesday?

[2018-03-22 12:58] renanbastos93 commented on #316
Hey @MylesBorins ,

I agree your suggestion, it's better one release going that include security.

[2018-03-22 13:24] MylesBorins commented on #316
@renanbastos93 I was not suggesting to delay the security release. We have another LTS release planned for the following week, I was suggesting we move that release forward a week.

We generally keep the security releases to only include the security related commits to ensure that people who need to upgrade can do so with minimal changes. This also makes it easier to figure out which patches are r

[2018-03-22 13:27] cjihrig commented on #316
SGTM

[2018-03-22 13:30] renanbastos93 commented on #316
@MylesBorins Oh, I understand sorry for my mistake. I'm anxious for this release going.

[2018-03-22 13:32] MylesBorins commented on #316
@renanbastos93 for which release line? Is something in particular broken you are waiting on? We could push out a release on wednesday if something is problematic

[2018-03-22 16:36] gibfahn commented on #316
SGTM

[2018-03-22 17:43] renanbastos93 commented on #316
@MylesBorins It's nothing troublesome, thanks for the concern.

[2018-03-23 06:07] wesleynarita commented on #291
J: Jodium, W: Wolfram !
There could be some candidates with Q in Chinese, eg. Qing (Hydrogen)

[2018-03-26 15:17] gibfahn commented on #313
Looking at that PR I think you're talking about what is used for current release?

If so @MylesBorins has a manual process that he currently follows.

The tool we use is `branch-diff`, you can read about the LTS process [in releases.md](https://github.com/nodejs/node/blob/master/doc/releases.md).

Basically it's a manual process to revert the other commits if a cherry-pick fails halfway through.

[2018-03-26 15:18] gibfahn commented on #313
What we do for current is:

[2018-03-27 12:36] goloroden commented on #291
This may be slightly off-topic, but this question has been asked a few times in this thread (and at other places as well), but AFAICS never got a reasonable answer:

As @bengl wrote:

I personally have *never* used the codename, and I personally do not know *anybody* who did. Of course, this is just me, but I also never read a blog post, an article in a magazine, watched a webcast, or anything els

[2018-03-27 13:21] styfle commented on #291
And this is not as hypothetical as one may initially think – Ubuntu just restarted with 17.10…)

Ubuntu names all releases, not just LTS releases like Node. So they go through the alphabet much quicker than Node does.

For people who only put LTS versions in production, the codename is useful.

The [blog posts](https://nodejs.org/en/blog/release/v8.9.0/) reference the codename.

Users can read the

[2018-03-27 13:24] goloroden commented on #291
Why? Why is `Argon` more useful than `6 LTS` (or was it `4 LTS`?)?

The blog posts could also reference the version numbers.

Users can also read the version number from `process.versions.node`.

You have argued *how* people could use it, but not *why* they should do it. What is better with a name such as `Argon` than with a version number such as `4 LTS`?

(And please don't take this personally,

[2018-03-27 13:49] styfle commented on #291
@goloroden I'm actually not arguing anything other than demonstrating the usage and answering your questions. "Does anyone of you actually make use of the codename in everyday usage?" "I personally do not know anybody who did"

You're right, I don't know **why** they should do it other than that it's convenient.

[2018-03-27 19:44] ljharb commented on #291
https://github.com/creationix/nvm *relies* on LTS lines having a name; and any LTS nvm users likely use `--lts=argon` or `lts/argon` in their `.nvmrc`, or as an alias.

Regardless of what the names are, there must be names, or very common use cases - including potentially any open source node build running on travis-ci - will break.

[2018-03-27 20:00] goloroden commented on #291
IMHO this, too, is no reason why anybody actually *needs* those code names or what makes them superior to just using version numbers. Actually, nvm worked before code names existed 😉

Of course, practically speaking, I don't want to break anything, too, so it's fine to stay with the code names – I just don't get why they were introduced in the first place. But I think that this is out of scope of

[2018-03-27 20:02] goloroden commented on #291
PPS: Or, to honour Ryan Dahl, it could also be `dreamy-dahl` 😉

[2018-03-28 12:03] caub commented on #291
Dungeon
Daemon
Dobson
Dragon

[2018-03-28 12:04] tommai78101 commented on #291
Decahedron

[2018-03-28 12:56] olstenlarck commented on #291
It should have good name, because in google mostly appears the 0.10. It's very important users to start searching with just a name, not by version.

[2018-03-28 13:45] Trott commented on #291
FWIW, 10.0.0 won't have a name. The name doesn't apply until the release goes into LTS 6 months later.

On the other hand, searching for "nodejs carbon" does pull up the 8.0.0 release announcement first (for me, at least) even though the first "Carbon" release was 8.9.0. (4.2.0 was the first "Argon" release and 6.9.0 was the first "Boron" release.) So the point may still be valid.

But then yet ag

[2018-03-28 19:43] stonecobra commented on #291
+1 for filling in with Dahl.  He isn't an element, but he was a catalyst!

[2018-03-28 22:18] Trott commented on #291
@olstenlarck FTR, duckduckgo.com search for `nodejs 10.0` pulls up this issue before any 0.10 stuff too. (But yes, as you say, it will not be that way forever.)

Anyway, I'm not opposed to codenames as much as I'm not so sure codenames should take up a ton of time and space in issues like this one.  An inflexible/deterministic way to provide codenames would be great, just so we could avoid all the

[2018-03-28 23:19] ofrobots commented on #291
I would like to propose that a designated team (perhaps @nodejs/lts) pick the next 10 or so codenames upfront, so that we can have all the 🚲🏠in one place in one shot.

[2018-03-29 00:03] Trott commented on #127
@jasnell Should this remain open?

[2018-03-29 00:04] jasnell commented on #127
Have we actually reached a decision on this?

[2018-03-29 00:06] Trott opened #317 "Pick the next ten codenames or something like that"
As proposed by @ofrobots: It would be great if @nodejs/Release could select and publish the next 3, 4, 5, 10, 100 codenames so that we don't have a big discussion every time a destined-for-LTS release comes around. See https://github.com/nodejs/Release/issues/291 for a pretty good example of how out-of-hand this gets. Maybe it's just me, maybe this sort of discussion is fine, but I think it runs t

[2018-03-29 00:06] Trott commented on #317
Oh, and once picked, publish, of course.

[2018-03-29 00:16] Trott commented on #127
Simple question with many layers!

TL;DR: No explicit decision has been made but it also likely won't be made in this issue, so let's close.

First: It depends on what you mean by your question.

If you're talking about the community at large, there's no way there will be consensus on this. Lots of people will think codenames are useless. Lots will think they're essential. And most people will fal

[2018-03-29 04:16] Trott commented on #317
Here's my suggestion. Rubber-stamp it and I'll PR it into a document.

* Dubnium (10.x 2018)
* Erbium (12.x 2019)
* Fermium (14.x 2020)
* Gold (16.x 2021)
* Hydrogen (18.x 2022)
* Iron (20.x 2023)
* Krypton (22.x 2024)
* Lithium (24.x 2025)

By this point, we'll have hopefully decided to stop with the elements theme and let go of all the problems it entails: Many letters not represented, irksome t

[2018-03-29 06:17] ofrobots commented on #317
Those code-names sound good enough for me. A rose by any other name...

Specially if there is no conclusion on #127, or if conclusion is for the status-quo (continue using code names), I would much prefer that we decide the names upfront, instead of drowning out release planning conversation with bike shedding on the code name.

[2018-03-29 07:29] ljharb commented on #291
Hopefully more than 10; or at least, let’s make sure the next 1000 are something that’s merely bikesheddable.

[2018-03-29 07:31] ljharb commented on #127
nvm requires codenames to function properly around LTS targeting; it will be a very painful change to try to get nvm to work without them and also get it deployed widely enough prior to codenames going away.

[2018-03-29 11:25] richardlau commented on #317
No objections here to those names.

[2018-03-29 11:33] olstenlarck commented on #317
It's cool that it isn't too late to switch theme now. I even think that it's better to switch it now than in 2025.

I don't know how this theme is chosen, but feels like it wasn't thought for these problems back then.

But anyway, i'm not against anything :) Just 2c.

[2018-03-29 13:07] Trott commented on #127
I think the fact that `nvm` requires codenames along with the relative lack of consensus formed during conversations about this in other issues points squarely at: "We're going to have codenames for a long time." I think this issue should be closed.

[2018-03-29 13:44] cjihrig commented on #317
@Trott ship it :shipit:

[2018-03-29 22:15] mhdawson commented on #317
+1 from me on the proposed codenames.

[2018-03-31 05:52] jimmont commented on #317
* **Dextrous**
* Existential
* Fractionated
* Generalized
* Hermetic
* Institutionalized
* Judicious
* Kosher
* Loquacious
* Manifest
* Nomenclature
* Occurred
* Prevalent
* Quixotic
* Redeeming
* Sincere
* Terse
* Universal
* Varicose
* Waxed
* Xenophilic
* Yoked
* Zealous

[2018-04-01 00:01] rauschma commented on #317
@Trott Slight caveat w.r.t. Gold: could be misconstrued as saying something about the version (gold master, …). Alternative: Gallium

[2018-04-01 03:07] Trott commented on #317
@rauschma Good point. I'll make the change.

[2018-04-01 07:50] vsemozhetbyt commented on #291
Is this true?

https://twitter.com/shelleypowers/status/980221505954082816

[2018-04-01 08:19] vsemozhetbyt commented on #291
If not, this needs to be corrected, as after retwitting by Axel Rauschmayer (@rauschma) this will start spreading.

[2018-04-01 11:24] olstenlarck commented on #291
@vsemozhetbyt yes it is true. See #318 and #317.

[2018-04-01 11:53] jasnell commented on #291
No, it's not true in the sense that the name is not yet finalized. @Trott is making a proposal that has not yet been accepted. I'm sure we'll finalize on it relatively soonish. We do have several more weeks until the release is actually cut and 6 more months until a name is actually *needed*.

[2018-04-01 12:07] jasnell commented on #317
While I'm fine with the general idea, I'd prefer for 10.x to be the last of the element named lines and to pick a different theme for 12.x and on. And if we can agree to a new theme in time, I'd prefer to use a different name for 10.x also

[2018-04-01 12:22] fivdi commented on #317
@jasnell Has your last comment something to do with the fact that it's the 1st of April?

[2018-04-01 12:32] jasnell commented on #317
Not at all.

[2018-04-01 13:06] shelleyp commented on #291
Saw this proposed and accepted.

Geez, folks? This should be trivial. This shouldn't be an issue, at all. Alex's concern about gold is on point, but for the rest? It's just names. Not even offensive names.

Accept them and move on already. Put a stick in the dirt and say you're done.

Especially since the choice of dubnium can also be seen as honoring the first African-American to contribute to sc

[2018-04-01 13:19] shelleyp commented on #317
Why change from elements? Why go with an inconsistent naming theme?

Why introduce inconsistency for something that is, ultimately, not that important.

And I support Gallium over gold. Gold does have unique connotations. Other than that, be bold...be daring...accept the list and move on.

[2018-04-01 15:17] Trott commented on #317
@jasnell Land #318 anyway because there's no guarantee that a new theme will be picked for 12.x. If it is, then great. Update that file at that time. If it isn't, then 12.x Hydrogen it is!

[2018-04-01 22:15] styfle commented on #304
I too think that skipping a letter is not the correct solution. Users who are not aware of the full list of code names (think sysadmin who doesn't use node.js but is tasked with updating it) could get confused. You no longer can rely on the alphabet to know how many LTS releases you are behind the current.

It's like the caveat you'll constantly have to explain:

- Why aren't there 26 LTS releases

[2018-04-01 23:11] styfle commented on #304
Let's approve #318 and revisit this in 5 years 😄 👍 5️⃣ 🤓

[2018-04-03 14:51] jasnell opened #319 "Proposal: Switching LTS Naming Scheme to Cities of the World"
See https://docs.google.com/spreadsheets/d/1XcINhFnRLEXu-KK5fvlqlr9YuCv7iG_hH-QcO2M1_FQ/edit?usp=sharing

There are plenty of names for each starting letter. A quick script can come up with a list of names in advance per @Trott's suggestion, and we can use this as a way of celebrating Node.js' international community.

[2018-04-03 14:59] MylesBorins commented on #319
We could do spices too 😄

https://twitter.com/MylesBorins/status/950959290470236161

I'm +1 on anything that we know we have coverage of

[2018-04-04 18:32] hashseed commented on #291
Thanks for confirming. The V8 team is [relying](https://github.com/nodejs/node/issues/19354#issuecomment-373157341) on the fact that we have some time between V8 6.7 branch point and the Node.js 10 initial release.

[2018-04-04 18:34] jasnell commented on #291
I had been planning to cut a new test build yesterday but that got delayed. I'm going to be updating the branch this afternoon and generating the test build this afternoon.

[2018-04-04 19:15] MylesBorins opened #320 "Update Github ACL"
We have not updated the ACL in github to reflect the structure in the README.md

this would be

Release (main Team ~ no members)
- Releasers (Rename current Release Team)
- LTS (Moved under release)
- CITGM (Moved under release)

I believe that we may need to update some of the rules inside of CI for this as well... specifically release ci

/cc @nodejs/build Would someone like to pair with me on t

[2018-04-04 19:31] #316 closed

[2018-04-04 19:32] MylesBorins commented on #320
dupe of https://github.com/nodejs/build/issues/1177

Will post in there

[2018-04-04 19:32] #320 closed

[2018-04-04 19:33] MylesBorins commented on #125
Closing as I think we do this. Let me know to reopen if mistaken

[2018-04-04 19:33] #125 closed

[2018-04-04 19:37] mgol commented on #125
I confirm the graph is being updated, thanks!

[2018-04-05 12:56] jaredreich commented on #317
More for future reference:
[code]

[2018-04-05 20:51] MylesBorins opened #322 "Event stream for new releases and gpg keys"
Having an event stream that providers can subscribe to for important release information would be a++

[2018-04-09 14:42] ctel commented on #291
Could you also keep the [Calendar](https://calendar.google.com/calendar/ical/eln7trd6k7n6asgg49bu2vqn4s%40group.calendar.google.com/public/basic.ics) updated?
This way @hashseed and the V8 team can rely on this.

[2018-04-09 19:50] hashseed commented on #291
/cc @psmarshall

[2018-04-10 05:39] #317 closed

[2018-04-11 12:09] AyushG3112 commented on #291
Question: given that `Ubuntu 18.04 Bionic Beaver` is expected to go stable on `April 26th`, are we testing the builds on the current beta released  of `Ubuntu 18.04`?

[2018-04-11 12:49] rvagg commented on #291
@AyushG3112 I did some initial testing with it in our CI infra using an early version in a container. When it goes live and our infra providers make it available we'll be adding it to the mix and dropping 17.10. There aren't expected to be any problems with 18.04 support.

[2018-04-11 13:01] AyushG3112 commented on #291
@rvagg got it, thanks!

[2018-04-12 19:47] noogen commented on #127
With the upcoming v10 and the popularity of the initial/old nodejs 0.10, I think codename would be helpful with searches?  I just happen to try to search for news of v10 on google and get a lot of old nodejs 0.10 stuff.

Alternatively, bump the version up to 13 (to skip 0.12 popularity) or start using year like v18 and so on.  Ubuntu and Docker uses this pattern.  Might be a dumb idea, I know, jus

[2018-04-12 20:08] Trott commented on #127
Can someone close this issue? We're definitely keeping codenames around. `nvm` needs them. And there's not consensus on removing them, which means _status quo_.

I have sufficient privileges to close this issue, but I'm not on the Release team, so I'd prefer someone in @nodejs/Release / @nodejs/LTS do it...

[2018-04-12 20:12] #127 closed

[2018-04-12 23:40] MylesBorins opened #324 "Update v8.x implementation of http2"
Hey All,

So the http2 implementation in 8.x is fairly far behind master / 9.x

Here is a rough list of missing PRs

https://gist.github.com/MylesBorins/372674e5b7f5370ccf03445d819afa90

Here is an attempt to start backporting

https://github.com/MylesBorins/node/tree/update-http2

/cc @nodejs/http2 @jasnell @addaleax

[2018-04-12 23:41] MylesBorins commented on #324
I stopped at 5abb60933e because things got weird

[2018-04-13 00:00] jasnell commented on #324
Define "weird"

[2018-04-18 04:45] shaunwarman commented on #322
That would be great. I know our team would love to trigger a CI on new releases for our internal community. Are there ongoing talks about this or ways of doing this now?

[2018-04-18 05:32] indutny commented on #322
I think it might be fun to have a service on @rauchg 's Zeit for this :grin:

[2018-04-18 23:58] isaacs opened #325 "A more public release date selection process for major releases"
## Problem

While the general timing of major Node.js releases is fairly well established (October and April), the specific release date is typically set a month or so in advance.  (In the case of Node v10, the specific date of release was [proposed on Jan 15](https://github.com/nodejs/Release/issues/299#issuecomment-357831583), but formally [decided on March 2](https://github.com/nodejs/node/pull

[2018-04-19 00:11] jasnell commented on #325
As the person who has cut every major release since 4.0.0, I'm completely on board with this. With each release I have been attempting to hone the process more and more with getting notifications out but with the volume of activity it's easy to miss those. Having a more formal process around a tentative date and a finalization of no more than 2 weeks later is definitely workable.

I would also add

[2018-04-19 00:12] jasnell commented on #325
(And I would go with a 60 day lead time... 30 days is way too short)

[2018-04-19 00:15] cowperthwait commented on #325
At risk of launching a meta-bikeshed, I’d diverge from @isaacs only in what gets the emphasis.

Compare
“A more public release **date selection process** for major releases”
vs
“A **more public** release date selection process for major releases”

…you dig?

I don’t envy being on the receiving end of as many “Can we slip this back a week for XYZ” requests as I’m sure @jasnell must be; as the guy w

[2018-04-19 00:16] cowperthwait commented on #325
( ⬆ npm’s head of marketing: long-time lurker, first-time commenter. Hi, hello.)

[2018-04-19 00:28] jasnell commented on #325
@MylesBorins ... I'd prefer that, yes, but it's not always practical, especially for April given the way the Easter holiday likes to jump around in the US. The "3rd Tuesday in April" in 2019 falls on April 16th, six days before Easter Sunday and in the middle of spring break. It generally would not be a great week for a major release. I think it would be better to say something like "The second to

[2018-04-19 00:31] jasnell commented on #325
There's another aspect of this to consider: the proposed dates need to also include the proposed date for semver-major cut off. Invariably (even this week) I get lots of "well *this* semver-major is special and really should go in" and it would be fantastic to have that locked down more and much more visible.

Tho I will say that this time around has been a *lot* better than previous major release

[2018-04-19 15:42] mhdawson commented on #325
I'm +1 on documenting the process.  It does need to have some flexibility in case there are critical issues as James mentioned.

[2018-04-19 16:58] drewfish opened #326 "blog post for 4.x EOL?"
Hi,

I've notice that when a major version goes EOL a bunch of folks in our community don't tend to hear about it for a while. As well, I've had folks ask me "can you give me proof of the EOL, so that I can give something to my managers that we need to spend time on upgrading?"

I suspect there might be benefit to a post in https://nodejs.org/en/blog/ announcing the EOL. It can be very simple, a "

[2018-04-19 17:05] MylesBorins commented on #326
Already being worked on 😁

On Thu, Apr 19, 2018, 12:58 PM Drew Folta <notifications@github.com> wrote:

[2018-04-21 11:13] vt10237 opened #327 "Getting Error XMLHttpRequest failed: "Unable to connect to the Parse API""
i have two repository.

1. DriverServer
2. DriverClient

i have setup mongodb and both repository in my localhost also change a url of server and database in index.js file. but now i am getting error when going to login or register into my client dashboard.

Error: XMLHttpRequest failed: "Unable to connect to the Parse API"

if you have any solution why i am getting this error please suggest me.

[2018-04-23 06:33] Huddo121 commented on #291
I know it may be a bit late to throw my hat in to the ring regarding the name, but what about Dolomite, "the tough black mineral that won't cop out when there's heat all about"?

It's also an "anhydrous **carbonate** mineral" according to wikipedia

[2018-04-23 14:36] jasnell opened #328 "[Tracking] Node.js 11.0.0 Release"
Might as well get this kicked off as early as possible given that 10.0.0 is going out the door tomorrow.

I will do the 11.0.0 release in October.

I'm proposing **Tuesday, October 23rd** as the target release date, with **October 1st** as a target soft semver-major cut off date, and **October 15th** as a target hard semver-major cut off date ("soft" == this is what folks should be targeting for,

[2018-04-23 18:04] mhdawson commented on #328
+1

[2018-04-23 18:12] targos commented on #328
+1. Chromium 70 is scheduled for Oct 16th so timing is perfect

[2018-04-23 18:15] MAPESO commented on #328
EsModule 🎉

[2018-04-23 18:56] targos commented on #328
@jasnell Yes. That will be V8 7.0

[2018-04-23 19:26] bnb commented on #325
Also +1 to documenting this process further. Both in terms of personal communication and corporate work, having the release dates being fuzzy has been... difficult.

Having a well-documented guide will also help ecosystem tooling build out their own release guidelines and processes. In talking with @Thelarkinn about our releases recently, I realized just how much tribal knowledge everyone working

[2018-04-23 20:34] loretoparisi commented on #328
@targos I thought we were at V8 release v6.6...

[2018-04-23 21:41] olstenlarck commented on #291
Yea, probably too late but welcome to awesome world of the geography (everything, everywhere around us) :D

[2018-04-23 21:59] jasnell commented on #328
Right now in 10.0.0 we are. This thread is discussing Node.js 11.0.0, however. We'll be at V87 by October.

[2018-04-25 17:30] isaacs commented on #325
@jasnell Good to know you're more in favor of a 60-day lead time.  That's way better in my opinion, but I didn't wanna ask for more than I thought I could get :)

So, it sounds like the summary of the process for major releases is:

1. At ${release date - ~60 days}, a release date is selected, and announced as a provisional release target date, added to ics feed and readme in nodejs/Release.  Issu

[2018-04-25 17:55] MylesBorins commented on #325
@isaacs it seems like this should be documented in https://github.com/nodejs/Release#release-plan

PR sounds like a good place to reach consensus on this.

[2018-04-26 17:29] kjin commented on #324
I'm going to try taking a stab at this today/tomorrow

[2018-04-26 17:31] jasnell commented on #324
@kjin ... awesome. Let me know if you get stuck. My next 2.5 weeks is pretty much all travel so it's going to be difficult for me to do much, but definitely want to help where I can.

[2018-04-27 01:02] richardlau commented on #326
I think this can be closed? There's a banner across the middle of https://nodejs.org/en/ linking to https://medium.com/the-node-js-collection/april-2018-release-updates-from-the-node-js-project-71687e1f7742.

[2018-04-27 01:37] #326 closed

[2018-04-30 17:51] MylesBorins opened #333 "Bringing back regular meetings"
I think that moving to no longer having meetings was a good idea at the time, but a few things have shifted since then and it feels like there is a need for some sort of regular cadence sync.

Would people be open to spinning up a monthly meeting for the WG?

[2018-04-30 18:49] mhdawson commented on #333
+1

[2018-05-02 08:05] BridgeAR commented on #313
Since the current structure should already cover my case, I am going to close this issue. Seems like it was a accident.

[2018-05-02 08:05] #313 closed

[2018-05-03 14:07] LaurentGoderre opened #335 "Status of v4"
The docs says that v4 should have reached EOL 3 days ago. Is there any update on the status of v4?

[2018-05-03 14:08] addaleax commented on #335
I think https://github.com/nodejs/Release/pull/334 might be the answer to this question? :)

[2018-05-03 14:11] LaurentGoderre commented on #335
Ah yes!!! Looked at the issues but not the PRs....my bad.

[2018-05-03 14:11] #335 closed

[2018-05-03 15:16] MylesBorins commented on #324
Thanks for the hard work @kjin

[2018-05-03 15:16] #324 closed

[2018-05-03 15:17] #238 closed

[2018-05-03 15:18] refack commented on #238
Auditing.

[2018-05-04 15:54] MylesBorins opened #336 "Deleted v4.x backporting labels"
We don't need them anymore. Opening this issue to document

[2018-05-04 15:54] #336 closed

[2018-05-14 18:01] mhdawson commented on #333
Bump @nodejs/release

[2018-05-15 16:40] MylesBorins opened #339 "Need help backporting for 8.x"
Hey All,

8.x has fallen behind on backports and the project could seriously use support on getting things moving again. If anyone is interested in helping with the backports I'm more than happy to spend a bit of time helping folks figure it out.

[2018-05-15 16:40] MylesBorins commented on #339
We should also consider relaxing some of our backporting rules, this is not scaling as it currently exists.

[2018-05-15 16:42] MylesBorins commented on #339
Here is a branch diff against v9.x

https://gist.github.com/MylesBorins/078554dfc521fe945a6f45324206ec0e

472 commits to be audited. There are a couple hundred more once we introduce 10.x 😭

[2018-05-16 21:47] mhdawson commented on #339
@BethGriggs

[2018-05-21 22:38] MylesBorins commented on #333
ping @nodejs/release

[2018-05-23 21:03] MylesBorins opened #340 "Current failures on 10.x to dig into"
* yeoman-generator
* bson
* node-weak
* radium

[2018-05-23 21:20] richardlau commented on #340
Is the node-weak failure the same as reported in https://github.com/nodejs/citgm/issues/558?

(And should this issue have been opened over in the citgm repo?)

[2018-05-23 21:50] mhdawson opened #341 "Development kit and Deployment kit releases"
There has been some discussion around the download and on disk sizes of our binaries (for example about npm taking up a significant portion) which got me thinking about whether it would be good to have two types of binaries available.

* Development kit - core Node.js with additional components you need for development like npm
* Deployment kit - core Node.js with components you need in production

[2018-05-23 22:06] richardlau commented on #341
But at the moment that would just be npm (as everything else is baked into the node binary)? On Windows we do ship just `node.exe`, e.g., https://nodejs.org/dist/v10.1.0/win-x64/node.exe, but you need to go through [All download options](https://nodejs.org/dist/v10.1.0) to find it.

[2018-05-23 22:07] richardlau commented on #341
Binary size was also one of the concerns with building full-icu: https://github.com/nodejs/node/issues/19214

[2018-05-24 00:06] BridgeAR commented on #340
The `yeoman-generator` failures got fixed by https://github.com/yeoman/generator/commit/b4f1bfcc5466e3aed004cff8c86e5bf5306195e6.

[2018-05-24 00:08] BridgeAR commented on #340
I guess the radium failures are also resolved. See https://github.com/FormidableLabs/radium/issues/990. If not, I am going to continue to investigate that.

[2018-05-24 00:10] BridgeAR commented on #340
I also already opened PRs for `bson` but the maintainers did not yet respond.

[2018-05-24 05:26] code-chris commented on #341
What about Yarn on the official Docker images? Would that be a candidate for removal in a deployment image too? (If there are any considerations to split the images accordingly)

[2018-05-24 09:09] bnoordhuis commented on #341
Why torture people with too many options to choose from?  Bandwidth is cheap and disk space even cheaper.

[2018-05-26 16:17] MylesBorins opened #342 "nominate @bridgeAR to CITGM team"
they have been doing great work!

[2018-05-26 16:20] targos commented on #342
+1

[2018-05-29 17:04] sebastienhouzet opened #343 "Error during installation on Mac 10.13.3 + Node 10.2.1"
Hello

Impossible to install :

[2018-05-29 17:09] sebastienhouzet commented on #343
if you re-launch a second time, it work 👍

[2018-05-29 17:11] #343 closed

[2018-06-03 13:57] MylesBorins commented on #314
Just updated all the teams on github, afaik I didn't break anything. Will re open if I did

[2018-06-03 13:57] #314 closed

[2018-06-11 17:22] bnb commented on #341
@bnoordhuis the context I have is that disk space isn't super cheap for one of the newer and stronger use cases for Node.js at present: Serverless. The increasing binary size (largely due to budling npm, as far as I understand) lengthens the startup time of cold starts.

[2018-06-11 17:31] bnoordhuis commented on #341
@bnb I don't understand your comment.  If by "serverless" you mean something like AWS Lambda, then the size of our binaries is irrelevant because that's not what AWS uses.

@mhdawson Okay, but what people and why is that their concern?

[2018-06-11 17:35] mhdawson commented on #341
@boneskull can you chime in here in terms of concerns from the tooling side?  I think we heard some concern about the size of the downloads/extracted size on disk from the tooling user group.

[2018-06-11 19:57] boneskull commented on #341
It crosses over a bit into “embedding Node.js” territory, but the issue was:

1. Native modules historically need a specific version of the Node.js executable to avoid compilation
2. Node.js needs extra stuff to compile native modules on Windows
3. Everything in the release package _except_ the `node` executable, and including `npm`, is not needed (for the Titanium use case; presumably since all d

[2018-06-12 22:30] bnoordhuis commented on #341
I have no problem with a node+npm and node-only tarball, we already do that for Windows.

However, it sounds like @mhdawson is proposing a different kind of differentiation.

[2018-06-13 13:08] joyeecheung commented on #339
I looked into backporting commits related to the `lib/internal/bootstrap/node.js` and here is where I am at.
https://gist.github.com/joyeecheung/52b7dc34b79ce5bd9213ac07f0596b85

To summarize, we have quite a few PRs related to timers/process/bootstrap that theoretically *could* be backported to v8.x (most of them are only on v10.x right now) - and if we skip some of those, it may take a bit more

[2018-06-13 13:34] MylesBorins commented on #339
@joyeecheung would it be helpful to earmark some time to have a chat or video call to review? I plan to pick up on some of the backports again this week... the next release is supposed to be semver minor so we have some wiggle room this time to do a big update

[2018-06-13 14:59] joyeecheung commented on #339
@MylesBorins Sure, I am mostly free this week apart from some meetings in 5pm-7pm UTC. We could also draft a checklist for applying don-land labels (e.g. do not remove properties in active LTS) so that people can follow before landing the PRs.

I can set up a doodle, I guess @addaleax @targos @apapirovski might also be interested?

[2018-06-13 15:00] targos commented on #339
I am interested

[2018-06-13 15:01] joyeecheung commented on #339
I could also chat after the TSC meeting today, if setting up a doodle seems to be too much overhead

[2018-06-13 20:15] mhdawson commented on #341
My description was
* Development kit - core Node.js with additional components you need for development like npm
* Deployment kit - core Node.js with components you need in production.

I `think` today those would map to node-only tarball, and node+npm except that there might be things like the inspector we might only include the node+ tarball.

[2018-06-13 20:22] bnoordhuis commented on #341
I was referring to this:

That's differentiation, isn't it?  I interpreted your comment as saying we bundle it with the deployment kit but not the dev kit.

[2018-06-13 20:34] mhdawson commented on #341
The Diagnostic WG has consensus that node-report should be part of node core, so the plan is to move it into the node binary.  So at that point, the specific example would no longer apply.  Having said that the concept of including tools that are needed in production still applies, so I guess that is a bit different than node executable only.

[2018-06-13 20:40] bnoordhuis commented on #341
Agreed.

[2018-06-19 21:39] joshuapage2017 commented on #322
Watch new movies for free

[2018-06-20 15:28] MylesBorins commented on #339
Just updated the list

https://gist.github.com/MylesBorins/078554dfc521fe945a6f45324206ec0e

We currently have 1200 commits to be audited 😅

[2018-06-20 15:29] MylesBorins opened #346 "Nominating @bethgriggs for the LTS team"
I think they will do a great job, and they want to help with auditing. Current rules do not allow non LTS members to do so.

[2018-06-20 16:52] joyeecheung commented on #339
@MylesBorins hm I think I understood the original list incorrectly, are we supposed to apply the commits from the bottom to the top? I think my initial investigation was invalid if that's the order and things would be much easier if we can find the commits that block the other commits.

[2018-06-20 16:53] MylesBorins commented on #339
@joyeecheung the list is to be applied bottom up.

[2018-06-21 19:44] mhdawson commented on #346
+1

[2018-06-22 17:23] MylesBorins commented on #342
as there have been no objections I've made @BridgeAR a team member

[2018-06-22 17:23] #342 closed

[2018-06-22 17:23] MylesBorins opened #347 "nominate @bridgeAR to LTS team"
They would be a great help in backporting and helping to figure out the future of the program

[2018-06-22 17:24] MylesBorins commented on #347
/cc @nodejs/lts @BridgeAR

[2018-06-22 17:25] jasnell commented on #347
Sgtm

On Fri, Jun 22, 2018, 10:24 Myles Borins <notifications@github.com> wrote:

[2018-06-23 09:39] gibfahn commented on #347
SGTM

[2018-06-25 21:48] mhdawson commented on #347
SGTM

[2018-06-27 17:41] MylesBorins commented on #346
Added to LTS + Backporting

Welcome Beth!!!

[2018-06-27 17:41] #346 closed

[2018-06-27 17:43] MylesBorins opened #348 "nominate @codebytere to LTS + Backporting team"
Their nomination as a collaborator has been approved. Would like to onboard them to LTS + backporting to help managing our LTS releases

[2018-06-27 20:34] mhdawson commented on #348
+1

[2018-06-29 21:51] MylesBorins opened #350 "PR for 8.x semver minor release has been opened"
https://github.com/nodejs/node/pull/21593

from PR

Trying a reactive rather than proactive approach for this release. Please chime in if there are things we need to land on 8.x

[2018-06-29 22:20] MylesBorins commented on #350
@nodejs/backporters please push any changes that qualify for LTS directly to the staging branch

[2018-07-09 21:39] mhdawson commented on #333
@MylesBorins should we just schedule a meeting to get started?

[2018-07-16 22:42] Daniel15 commented on #341
This sounds very similar to what some other languages do. For example, Java has the JDK for development and JRE for just the runtime. Similarly, .NET has the .NET Core SDK for building apps, and the .NET Core Runtime if you just want to run them. However, one of the main differences with those languages is that they're compiled, so there's a significant difference in disk space usage between the t

[2018-07-17 14:37] mhdawson commented on #341
While the difference in total size might be smaller, from what I understand even just removing npm would cut the size in half.

[2018-07-18 20:48] caub commented on #291
[code]

[2018-07-18 22:30] bnb commented on #341
I just wanted to comment with an addition to this discussion:

I'd personally really love to see an image without including npm. There are a suite of use cases, some of which are being driven in the project already (see: https://github.com/nodejs/docker-node/issues/404).

It would be absolutely **fantastic** to hear from platform builders and engineers who have use cases for this. I do know of a f

[2018-07-25 22:04] MylesBorins commented on #348
it has been a month, and so it is done

[2018-07-25 22:54] #348 closed

[2018-07-30 20:33] jfathman commented on #341
Disk space is cheap, but can be limited.  For example, Linux modules for IoT often have (only) 4 GB of flash memory for everything.  So keeping Node as small as possible is 'IoT friendly'.  Let the IoT customer compose the Node stack as wanted.  Don't force an unnecessarily large minimum image.  Minimalism finds many uses, as demonstrated by Alpine Linux which surged ahead in a world replete with

[2018-07-30 20:42] jfathman commented on #341
And speaking of IoT, bundling npm in Node makes the Node upgrade much heavier.  Suppose the long life IoT platform wants a Node upgrade for a security update or some other special reason, but does not otherwise need to update npm or Yarn?  It would be nice if the IoT platform could update just the piece it wants, Node in this case, without being driven to a monolithic fork lift upgrade.  That resu

[2018-07-31 03:59] iarna commented on #341
@mhdawson

This seems to be a bit of an exaggeration. In 10.7.0, using the OSX bins, the npm tarball is 5MB, and the node tarball is 16MB.

Extracted, removing npm reduces the distro from 58M to 41M. (This is in raw data size, before accounting for filesystem blocksizes, which will make your `du` numbers look quite different.)

That being said, I can see why you'd be interested in having a runtime

[2018-07-31 05:25] DanielRuf commented on #341
I would also like to see npm unbundled from Node.js as it makes more sense to not preinstall it in specific cases and independently manage npm using solutions like nvm, n and others.

Also this can reduce the attack surface and other solutions like PHP and others do not come preinstalled with a dependency manager.

Also every time we change or install a Node.js version we have to upgrade npm as ou

[2018-07-31 05:30] DanielRuf commented on #341
This is not real in all countries and cases. We have internal CI servers which use much bandwidth and in mosts cases we offload the `npm i` part to the clients for manual compilation and push the compiled package to the target remote server using rsync as the servers just run the tests and actual app deployment (eCommerce software, CMS, ...).

[2018-07-31 06:05] bnb commented on #341
@iarna My understanding is that there are a few use cases:

- npm isn't needed in some cases in a Functions as a Service environment. Would _really_ love to get comments from some of the major FaaS providers on this if at all possible (reached out to a friend who worked on Azure Functions to see if I could get their comments, would hugely appreciate it if we could get others' feedback on this as w

[2018-07-31 15:12] iarna commented on #341
@bnb You didn't really address my question... I get why minimized distros are useful, what i don't get is why it needs to be maintained by the Node.js project?

[2018-07-31 16:18] brianleroux commented on #341
$0.02 from a "serverless" dev (we deploy to the Node hosted by AWS Lambda)

I like the direction of this conversation but I'd like to drill in on the root concern: performance. The predicate for this discussion has been generally around 'less disk space utilized equals faster'. I'd like to advocate an empirical approach that uses a common metric we can all agree should be priority: coldstart.

Dis

[2018-07-31 17:00] MylesBorins commented on #341
@brianleroux I don't believe that image size makes any difference for cold start... although in a cluster w/ 100s to 1000s of images that extra disk space is obviously non trivial. [This thread](https://twitter.com/rauchg/status/1023676003262951425) shows that people in the ecosystem are interested in smaller base images... but this is something that could be punted to the docker wg imho... cloud

[2018-08-03 10:48] DanielRuf commented on #341
Also ha da broken npm install due to the infrastructure issues which broke my boxen setup as npm was broken.

In general I would like to have the option to chose my package manager for projects or use none on server where the projects should just run and where we need a lower attack surface.

[2018-08-03 10:48] DanielRuf commented on #341
Also had a broken npm install due to the infrastructure issues which broke my boxen setup as npm was broken.

In general I would like to have the option to chose my package manager for projects or use none on server where the projects should just run and where we need a lower attack surface.

[2018-08-04 13:18] targos opened #353 "Looking for a releaser for the next v10.x"
@nodejs/releasers I will be on holiday until August 20. If we would like to continue with our current biweekly release rate, the next one should be around August 15 and I won't be there for it. Any volunteer?

[2018-08-07 18:48] mhdawson commented on #341
@iarna thanks for providing more accurate numbers.

One of my interests in this discussion is if we gain the flexibility to add more to the larger package if we have 2 packages versus one.  This would let us provide more value for those who don't care about the download/install size while not affecting those who do care about the size as they would be using the binary-only version. For example, to

[2018-08-07 22:15] BridgeAR commented on #353
I'll be up for that. We just have to finish everything before the 14th as I have very limited time that day. Besides that I am fine.

[2018-08-08 01:24] MylesBorins opened #354 "Subsystems that require backporting attention for 8.x"
@nodejs/timers
@nodejs/http2
@nodejs/n-api
@nodejs/v8-inspector

assert also has a deviance, but I don't know if it makes sense to do a backporting effort for it

[2018-08-08 11:59] ofrobots commented on #354
I believe @kjin is working on `http2` back ports right now.

[2018-08-08 21:01] mhdawson commented on #354
@MylesBorins  I think we had done a pass at backporting the commits we thought were important for the next SemVer.  Is it just that not everything has been backported for n-api or are there some specific concerns? @gabrielschulhof

[2018-08-08 21:26] gabrielschulhof commented on #354
https://github.com/nodejs/node/pull/21733 and https://github.com/nodejs/node/pull/21732 have landed. I don't know of any others that have not landed cleanly.

[2018-08-08 21:34] gabrielschulhof commented on #354
Though I guess we may also want 978d89f5e3cf238a0e42303acc9493993ede9c98 because that prevents memory leaks with function factories.

[2018-08-08 21:41] gabrielschulhof commented on #354
@mhdawson do we want to backport semver-minor stuff like bigint?

[2018-08-08 21:44] MylesBorins commented on #354
bigint does not exist on 8.x

[2018-08-08 22:10] mhdawson commented on #354
@agreed with  978d89f.

My first thought on semver-minor stuff is that unless it is causing problems for backporting we may want to wait until features exit experimental before backporting.  Not opposed to us doing so, just not in a rush to do it unless we think there is a pull.   My hope is that because most of the changes are localized to a few files it won't cause problems.  We can then pull a

[2018-08-08 22:30] joyeecheung commented on #353
I can work on that as well but if there is enough time for @BridgeAR I am good with first come first serve :)

[2018-08-09 05:46] mcollina commented on #354
@mhdawson I have several modules that I've used in my HTTP2 experiments that cannot run on Node 8.x.

[2018-08-13 11:30] BridgeAR commented on #353
Seems like @rvagg prepares the release because of the security release.

[2018-08-13 11:30] #353 closed

[2018-08-13 11:39] rvagg commented on #353
Sorry to break the flow here.

FYI it's entirely possible that we have different people preparing the security releases across release lines, we've done that plenty in the past. However, the overhead of synchronizing multiple people becomes a real pain and my preference would be to just push it all out and wear the late-night cost of that.

[2018-08-20 06:58] qingdie opened #355 "The require a bug"
When concurrent loading a module, it is wrong to get the second module, is an empty object, I debug source found the problem, the second from the cache, but then the inside of the cache object is empty
Problems appeared in the loader.js files line 528, should first load module and then join the cache
`Module._cache[filename] = module;

  tryModuleLoad(module, filename);

  return module.exports;`

[2018-08-20 07:06] qingdie commented on #355
[http://qingdie.me/image/node1820.png](url) This is the screenshot when debugging

[2018-08-20 14:44] huanghe2015 opened #356 "Ubuntu and Debian Package Maintainence"
I have a little question:who or which team is working for package on Debian and Ubuntu?Anyone here can give an answer?

[2018-08-20 14:59] refack commented on #356
AFAIK @chrislea in https://github.com/nodesource/distributions
But the official Debian and Ubuntu releases pack their own.

[2018-08-20 16:10] chrislea commented on #356
Yes, it's mostly me.

[2018-08-21 00:51] huanghe2015 commented on #356
I just want to know what is happening in official apt respority,but you give an answer from two sides,because the version in Ubuntu and Debian apt package is too old.Thanks @refack

[2018-08-21 00:51] #356 closed

[2018-08-24 17:03] bnb commented on #341
@iarna gotcha, sorry I didn't answer that directly. IMO it's similar to why you'd want the deb and rpm distributions to be maintained by the project rather than, say, Canonical or NodeSource.

Having these images supported and built and distributed by the project would hopefully ensure that there is less ecosystem wonkiness around the usage. You can't guarantee that whoever ends up maintaining the

[2018-08-27 08:25] wallet77 commented on #295
Hi @elektronik2k5

"Great minds think alike".
I was thinking about that.
I have created a repo for a public API here : https://github.com/wallet77/nodejs_version_api
But as you can see in the code I'm also parsing a github page to retrieve version list and also changelog.

I'm not sure if there is a better solution. We can manage a local database but it means we should update it each time a new ve

[2018-08-28 08:18] wallet77 commented on #295
@aredridel Yes this is one of the page I parse to get information.

[2018-08-31 20:26] richardlau commented on #333
Another PR with lts-agenda tag: https://github.com/nodejs/node/pull/22633

[2018-09-01 18:06] wallet77 commented on #295
Hi there,

Here is the first version of nodejs-versions, which retrieve information about version and changelog :
github : https://github.com/wallet77/nodejs-versions
npm : https://www.npmjs.com/package/nodejs-versions

Any help/advice is welcome.

[2018-09-03 11:29] danielgindi commented on #245
Did the biweekly release cycle stop?

[2018-09-03 11:30] danielgindi commented on #353
Did the biweekly release cycle stop?

[2018-09-05 08:37] MylesBorins opened #357 "Release and Backporting Roatations"
Would anyone be up for this? Perhaps we can open up a schedule a month in advance and let people sign up to take responsibility for

a) a specific release
b) auditing / backporting during a certain period of time.

Thoughts?

[2018-09-05 09:42] targos commented on #357
Yes please!

[2018-09-12 09:52] BethGriggs commented on #357
Would there be any time to discuss or get things started with this at the collaborator summit?

[2018-09-12 17:33] MylesBorins opened #358 "Discussion of Release and LTS at collaborator summit"
What should we talk about?

[2018-09-12 17:38] targos commented on #358
I would like to talk again about backporting. Even on the Current release line, where conflicts are usually easy to fix, it is very difficult to get backports done. We need to come up with a clear strategy around backports and I think tooling can be developed to ease the process.

[2018-09-12 17:49] MylesBorins commented on #358
@targos would this be a seperate session from Release / LTS?

I think we may benefit from designing policy for all lines where the only difference is "what lands" not how it is managed.

[2018-09-12 19:57] richardlau commented on #358
I won't be at the summit, but perhaps those that are could get together with the n-api team and discuss what how our LTS policy might be altered to accomodate n-api changes (see https://github.com/nodejs/node/pull/22633#issuecomment-420450955).

[2018-09-15 21:42] bnb opened #359 "Defining a word for all current releases"
In discussing with a friend, I realized that we don't have an actual word for the corpus of releases that are currently being worked on / not EOL.

Here's a sentence as an example:

Both of us instinctively reached for "Active" but that's currently a word used as a part of LTS terminology.

As far as I know, we don't have a word that defines this. I think it's a useful word to define, as I've reac

[2018-09-15 21:50] vsemozhetbyt commented on #359
"Supported" seems to be the most exact and substantial word? Others seem a bit evaluative and fuzzy.

[2018-09-15 22:31] MylesBorins commented on #359
I always say maintained

On Sat, Sep 15, 2018, 4:50 PM Vse Mozhet Byt <notifications@github.com>
wrote:

[2018-09-16 06:40] targos commented on #359
I say supported.

[2018-09-16 10:02] BridgeAR commented on #359
Both, supported and maintained sounds good.

[2018-09-17 19:01] joyeecheung commented on #358
@targos @MylesBorins We have a session about automation. Maybe if move the release session forward before that one, we can discuss about automation of releases/backports at the automation session?

[2018-09-17 22:31] joyeecheung commented on #359
I'd go for supported instead of maintained to avoid confusion about "maintenance mode"

[2018-09-20 15:54] mhdawson commented on #359
I prefer supported.

[2018-09-20 20:01] DrEVILish commented on #359
Current Releases
Maintained Releases

[2018-09-24 18:51] Trott opened #360 "out of sync with GitHub teams"
The list of LTS folks here is way out of synch with @nodejs/lts. I'm not sure if the README here needs to be updated, or the team, or both, or they're not the same thing despite having the same name, or what. But it's confusing. Please help!  :-D

[2018-09-24 19:28] mhdawson commented on #333
@MylesBorins are you still in favor or restarting regular meetings?  @BethGriggs if @MylesBorins answers yes would you be able to volunteer to help choose a time and setup the meeting (I can help with adding to Node.js calendar etc.)

[2018-09-24 19:31] MylesBorins commented on #333
I am very +1 on starting this up again

On Mon, Sep 24, 2018, 3:28 PM Michael Dawson <notifications@github.com>
wrote:

[2018-09-24 19:33] targos commented on #333
I am +1 as well

[2018-09-25 00:11] nw commented on #295
I wrote a tool as well.. https://github.com/nw/node-release-lines

I extended the scope and included vulnerability info from `nodejs/security-wg`.

The api is fairly powerful for research. For example the number of commits by area touched from the recent release `v10.11.0`

[code]

[2018-09-29 00:04] xnox commented on #328
And this release will require OpenSSL 1.1.1 with TLS1.3 right? Given that it is out.

[2018-09-29 01:29] richardlau commented on #328
Current state of OpenSSL 1.1.1 integration with Node.js is in https://github.com/nodejs/node/issues/18770. It sounds like there are issues on the Node.js side supporting TLS1.3.

[2018-10-01 09:58] bnb opened #361 "Incorrect start date in schedule.json"
The `schedule.json` file asserts that Node.js v10 is LTS today. As far as I know (?), this isn’t the case.

Historically it seems we trend more toward the end of the month. If truly incorrect, would it be acceptable/more accurate to update it to the 31st and adjust down if needed? Happy to create a PR if the answer is yes.

For what it’s worth, I discovered this last night while working on [node-r

[2018-10-01 13:42] bnb commented on #359
@joyeecheung valid point, agreed!

@DrEVILish extending @joyeecheung's point, we have the "Current" release line which is the release line that's in active development. Current releases (and maintained releases) could theoretically get easily confused.

Seems like `Supported` is the only word that doesn't collide with another term and has... support? 😁

[2018-10-01 15:10] mhdawson commented on #361
@jasnell, @MylesBorins can you two comment if we have a specific date to update it to yet?

[2018-10-02 00:01] richardlau commented on #350
Closing as the referenced v8.12.0 PR has been merged.

[2018-10-02 00:01] #350 closed

[2018-10-02 15:33] MylesBorins opened #364 "Doing another Semver Minor on 8.x"
Hey All,

We have an open PR to get the http2 implementation up to date on 8.x... this PR does include semver-minor changes to http. I'd like to propose we do another semver-minor release of the 8.x line

https://github.com/nodejs/node/pull/22850

[2018-10-02 15:33] MylesBorins commented on #364
/cc @nodejs/lts

[2018-10-02 15:39] BridgeAR commented on #364
:+1:

[2018-10-02 19:42] mhdawson commented on #364
+1 from me.  It seems important for http2 adoption.

[2018-10-02 20:29] BridgeAR commented on #364
Is there a specific part that we should likely also backport? I do have some time that I could invest into that at the moment.

[2018-10-03 01:43] MylesBorins commented on #364
/cc @kjin who may be able to chime in on this.

[2018-10-03 20:03] kjin commented on #364
Current status -- the PR should be complete for backportable changes to http2 up to Node 10.9. I'm currently working through additional commits up to 10.11.

It shouldn't be too hard to remove the semver-minor change to http in this PR... if that helps it land.

[2018-10-03 21:19] MylesBorins commented on #364
We have approval for another minor. Let's get everything in that makes
sense!

On Wed, Oct 3, 2018, 4:04 PM Kelvin Jin <notifications@github.com> wrote:

[2018-10-03 21:40] kjin commented on #364
Just updated nodejs/node#22850

[2018-10-04 11:34] ErisDS commented on #358
I think there needs to be a discussion around using available funding to lock down the release process into something more formal and managed.

The fact that discussions [like this](https://github.com/nodejs/Release/issues/361) happen after the stated release cause problems for software that depends on the LTS process - like Ghost - as well as reinforcing the "toy framework" reputation, which is a

[2018-10-08 00:01] hodlmodl opened #365 "How would I install nodejs version 9.6.6?"
Hi I’m wondering how to install this specific version in order to deploy an ERC721 contract.  Thanks.

[2018-10-08 00:06] richardlau commented on #365
All released versions of Node.js are available from https://nodejs.org/en/download/releases/.

There was no 9.6.6 release.

[2018-10-09 03:04] #355 closed

[2018-10-09 03:13] richardlau commented on #279
As things stand the upcoming 11.0 release and 10 transition LTS are not planned to happen on the same day.

Planned dates:
Tuesday 23rd October 2018 - 11.0 release https://github.com/nodejs/Release/issues/328
Tuesday 30th October 2018 - 10 LTS release https://github.com/nodejs/Release/issues/361#issuecomment-425997013

which does mean for a week we will have two current releases.

[2018-10-09 10:58] targos commented on #279
If we do the next 10.x release tomorrow as planned, commits will have baked two weeks in a current release, so we would be able to transition to node 10 LTS on October 23

[2018-10-09 14:48] schmod commented on #279
That seems reasonable, as long as tomorrow's release is the final one under which 10.x is considered _Current_, and any (non-bugfix) changes in the subsequent 10.x release have spent at least 2 weeks baking in a 11.x release.

I'm not quite sure how this all shakes out from a development perspective -- do we start treating 10.x as though it's an LTS release from a development perspective starting

[2018-10-10 22:29] #361 closed

[2018-10-12 22:55] #365 closed

[2018-10-13 13:20] danjo133 opened #369 "windows 10, nodejs 10.12.0 boxstarter dependency force reboot"
When installing nodejs 10.12.0 from https://nodejs.org/dist/v10.12.0/node-v10.12.0-x64.msi the installer asks if the user wants to install some additional dependencies for nodejs modules containing c++-code.

This installs Boxstarter/Chocolatery which, out of the blue, force rebooted my computer with no warning, no option to save files or anything else. For me, it rebooted 4 times during install.

[2018-10-13 15:05] vsemozhetbyt commented on #369
cc @nodejs/platform-windows and @joaocgreis @tniessen as per possibly related PRs:

https://github.com/nodejs/node/pull/22645
https://github.com/nodejs/node/pull/23003
https://github.com/nodejs/node/pull/22988

[2018-10-17 01:43] joaocgreis commented on #369
Rebooting is essential to install those tools reliably. @danjo133 the fact that your machine rebooted 4 times is a strong indication that the installation would have failed if not allowed to reboot.

The script warns about this:
![image](https://user-images.githubusercontent.com/134460/47056855-32b86b00-d1b6-11e8-9f79-a43da3d86dc8.png)

[2018-10-18 03:53] richardlau commented on #360
Synced by https://github.com/nodejs/Release/commit/19985fe7c16c764805bed84ea4901488bec35cbf.

[2018-10-18 03:53] #360 closed

[2018-10-18 21:41] BethGriggs commented on #333
Initially thinking of meeting every two weeks? I set up a doodle to start to try and find a regular day/time for us to meet - https://doodle.com/poll/95b6f5zdgxzy75n9

@nodejs/release

[2018-10-20 11:05] JieJiSS commented on #369
Well it did warn, but I believe it's not noticeable enough, for many users simply press <kbd>Enter</kbd> or whatever when they see `Press any key to continue...`.
Would it be possible to change the prompt from `Press any key to continue...` into `Have you saved all your files and closed all open programs? (y/N)`?

[2018-10-22 10:07] bnoordhuis opened #372 "Something is really wrong with this repo"
I'm trying to PR https://github.com/nodejs/Release/compare/nodejs:master...nodejs:bnoordhuis-v12. I created that branch here because forking the repo doesn't work, it 404s when I try it.

GH initially created https://github.com/nodejs/Release/pull/371 but that 404s too now. When I try to recreate the PR, it says a PR for that branch already exists and even points me to #371...

I'll report this to

[2018-10-22 10:09] bnoordhuis commented on #372
Ah, new update from https://status.github.com/:

I guess that explains it.

[2018-10-23 14:32] MylesBorins opened #374 "v10.x initial LTS release"
I've opened https://github.com/nodejs/node/pull/23831 for the initial LTS release of v10.x

In this PR i've opted to not include any changes. We may want to include some minimal changes for things that are very broken, or alternatively follow up with a quick semver patch release.

Thoughts?

[2018-10-23 23:32] xnox commented on #374
How does this relate to https://github.com/nodejs/node/issues/18770 ? In Ubuntu, we had to recently revert node 8 abi to compile against openssl 1.0.2 instead of 1.1.0, to stay compatible with node 8 ecosystem. Will v10.13.0 require openssl 1.1.0 abi, and ideally 1.1.1? Downloading v10.13.0 upstream binary builds I could not tell which openssl abi is in use. Ubuntu is currently in process of upgra

[2018-10-23 23:38] xnox commented on #374
Debian is likely to remove openssl1.0.2 from the archive soon too. The only remaining blocker is openssh, which has been uploaded is awaiting to be integrated into testing.

[2018-10-24 02:35] MylesBorins commented on #374
@xnox 10.x is currently shipping openssl1.1.0i, and based on nodejs/node#18770 it seems like we can upgrade to 1.1.1 in an LTS minor, but would only be able to support TLS up to 1.2.

8.x and 6.x are still on openssl1.02. 6.x goes end of life April 19' and 8.x goes end of life Dec 19'

We are spinning the release team up again, would you want to participate in a few meetings to work this out? http

[2018-10-24 03:47] MylesBorins opened #376 "Move 8.x into maintenance mode in January 2019"
I was thinking. We are quite behind on backports for 8.x, and it has an end of life in December of 2019. Would we be better off moving it to maintenance mode in January 2019 and focusing our efforts on keeping 10.x up to date?

[2018-10-24 13:46] xnox commented on #374
@MylesBorins thank you for the update. My interest in this is time-limited due to managing openssl1.1.1 transition in Ubuntu, on a one-off basis. Let me check and figure out what patches are needed to clamp TLS up to 1.2 and ship that then. Cause that needs to go into 10.x if in Ubuntu we build it against openssl 1.1.1. Note the openssl 1.1.1 for bionic is prepared in https://bugs.launchpad.net/ub

[2018-10-24 14:22] mhdawson commented on #376
I'd be ok with that option.  It seems like if we have to choose between catching up on 8.x and falling behind on 10.x or keeping up on 10.x, keeping up with 10.x is a better choice.

[2018-10-24 18:01] MikeRalphson commented on #317
@jaredreich in line with the characters in the seminal science-fiction series [Sapphire & Steel](https://en.wikipedia.org/wiki/Sapphire_%26_Steel#Characters) I propose including gemstones, alloys and other compounds for J, Q and W where necessary.

[2018-10-25 17:09] ljharb opened #378 "add v11 to the chart in the readme"
Now that v11 is out, I’d expect it to be in the readme.

[2018-10-25 17:13] MylesBorins commented on #378
/cc @cjhring who updated it last time

[2018-10-25 17:17] egoroof commented on #378
Also plz remove "Master" from the chart

[2018-10-25 17:29] richardlau commented on #378
The chart was generated via https://github.com/nodejs/lts-schedule.

[2018-10-25 18:13] richardlau commented on #378
PR to update the chart: https://github.com/nodejs/Release/pull/379

[2018-10-26 01:29] rvagg commented on #376
This is a shame, I'm not excited by this proposal, but given that I'm not currently actively contributing to backports for 8.x and we don't seem to be able to get more people to do it, it's hard to argue against this.

[2018-10-30 10:18] AliSawari commented on #376
how is it possible to have two active LTS releases at the same time? wouldn't that make some confusions for the new coming developers to choose? Also, what does Maintenance mode means? is that something like a Tag that indicates the final days of a release? what's the point of it? thanks in advance.

[2018-10-30 10:31] AliSawari opened #381 "change 10.x release status from 'Current Release' to 'Active LTS' in Release Schedule"
As of Node.js Dubnium (10.x) entered the LTS mode today, the [Release Schedule](https://github.com/nodejs/Release#release-schedule) in README.md should say the status of Node 10.x as <b>'Active LTS'</b>

[2018-10-30 13:06] MylesBorins commented on #381
Fixed

[2018-10-30 13:06] #381 closed

[2018-10-30 14:35] mhdawson commented on #376
@AliSawari we need to have overlap so people have time to transition from one LTS release to another.

Maintenance mode means that commits which have landed in master/Current releases are no longer actively backported to the version.  Instead only Critical and security fixes are backported.

[2018-10-30 15:08] #378 closed

[2018-10-30 18:46] AliSawari commented on #376
@mhdawson Thanks for answering!
yeah I think you guys should keep up with updating 10.x
I think most of the user-base chooses the latest version, as 8.x been removed from the [Node.js Main Page](https://nodejs.org) and replaced by 10.13.0 LTS. so its better to end its life earlier this time :smile:

[2018-10-30 20:29] MylesBorins commented on #279
@schmod I think we could benefit from having a doc about planning new releases... is that something you would be interested in taking a stab at?

[2018-10-30 22:30] iamstarkov commented on #295
take a look at this https://github.com/chicoxyzzy/node-releases/

[2018-10-30 22:31] iamstarkov commented on #290
@rarkins you might be interested in this https://github.com/chicoxyzzy/node-releases/

[2018-10-30 22:35] iamstarkov commented on #252
@gibfahn should it be closed?

[2018-10-30 23:20] chicoxyzzy commented on #290
Hi. I'm maintainer of https://github.com/chicoxyzzy/node-releases/. I didn't implemented any automatic generation of metadata yet because lack of time. It'd be great to have official automatically generated npm package after each Node release. node-releases package is [browserslist](https://github.com/browserslist/browserslist) dependancy and is used by babel-preset-env. Let me know if I can help

[2018-11-01 21:21] ofrobots opened #384 "Coordinate major releases with node-pre-gyp"
We released Node.js 11.0.0 but it seems that `node-pre-gyp` still doesn't [support it](https://github.com/mapbox/node-pre-gyp/issues/421). This means that users trying to run their applications - that depend on native modules - may not work out of the box against Node 11.

It would be great to coordinate with `node-pre-gyp` to make sure we are offering the best user experience for Node.js users.

[2018-11-01 21:33] refack commented on #384
I'd be happy to help from the `node-gyp` side if needed.

[2018-11-02 14:56] mhdawson commented on #384
There are probably other tools we should consider as well.  Makes sense to me to build a list that we co-ordinate with.

[2018-11-04 02:36] #369 closed

[2018-11-05 18:11] nicolasnoble commented on #384
cc @springmeyer.

[2018-11-08 02:14] springmeyer commented on #384
Thanks for ticketing this out and for the cc. I've moved jobs at @mapbox and now have very little time to maintain node-pre-gyp. So, I would love to do whatever is possible to make sure my absence does not cause hardship for the node community. @nicolasnoble thank you so much for https://github.com/mapbox/node-pre-gyp/pull/422 and https://github.com/mapbox/node-pre-gyp/pull/428. Would you be inter

[2018-11-08 14:20] tdaniely commented on #369
This retarded script that breaks all MSI practices because you're too lazy to properly integrate the depdendency installations. Installed 50 different things, that all of them from the VS to the build tools and the c++ redist, and the 20 windows KBs and everything else were already installed and updated. To do this it restarted my workstation twice, installed chocolatey which I don't need, Install

[2018-11-08 15:04] refack commented on #369
Hello @tdaniely please edit your comment, to tone it down, and be compliant with the CoC
זה לא לעניין, אנשים עובדים קשה על זה, לפעמים עושים טעויות.

[2018-11-08 18:42] springmeyer commented on #384
👍 Yes, this would be a good improvement and one I've thought of but not had the time to invest in. Maybe @nicolasnoble could pick that up?

I should mention however that if you don't need or use the `--target=11.0.0` flag to node-pre-gyp then it will support new major versions of node without needing to be updated. It is only when you are needing to target different version, via the `--target=` fl

[2018-11-08 18:57] nicolasnoble commented on #384
We actually talked about this feature with @murgatroid99, where we just issue a request in case the data isn't found in the local database. This way the software still mostly works offline, but also has an online fallback.

[2018-11-12 20:25] mputilin opened #385 "Why 4.x status is still Maintenance LTS?"
Accoring to Release schedule (https://github.com/nodejs/Release/blob/643af71ee8365efbdccaa134690425ea05931279/README.md#release-schedule) NodeJS 4.3 should be `End-of-Life`, but still `Maintenance LTS`. AWS Lambda also sill supports it, but shouldn't, according to Runtime Support Policy (https://docs.aws.amazon.com/lambda/latest/dg/runtime-support-policy.html). Why?

[2018-11-12 20:32] mhdawson commented on #333
@nodejs/release looks like we could use more people to fill in the doodle.

[2018-11-12 20:33] richardlau commented on #385
That's an older version of this repository's README.md. The current https://github.com/nodejs/Release/blob/20ff702661d11d5ceeeb495764e575ba13e5fc17/README.md#release-schedule has Node.js 4 in the End-Of-Life section.

[2018-11-12 20:33] #385 closed

[2018-11-14 02:41] rvagg commented on #374
pretty sure we're going to get 1.1.1 into Node 10, that's the plan anyway and I know Debian is already shipping it against their 1.1.1 shared lib.

[2018-11-14 02:41] #374 closed

[2018-11-14 10:30] xnox commented on #374
@rvagg not quite. It is in progress of being reverted.

https://ftp-master.debian.org/new/nodejs_10.13.0~dfsg-1.html

[code]

In unstable it was compiled against 1.1.1, but ran tests against 1.1.0 because they were failing otherwise.

So there was an attempt to ship with 1.1.1 in Debian, but that has failed.

[2018-11-15 00:14] rvagg commented on #374
/cc @kapouer ^

[2018-11-18 18:46] MylesBorins opened #388 "Expanding access to landing on staging"
Currently in practice we have only allowed changes on staging branches to be landed by members of @nodejs/backporters

The policy was not well documented, which is being rectified in https://github.com/nodejs/node/pull/24465 and https://github.com/nodejs/Release/pull/387

Is this policy what we want to be doing? Should we expand the circle of people who can land things?

Traditionally we had limit

[2018-11-19 11:40] rvagg commented on #388
I don't mind expanding it and making it much more flexible. We could just move the auditing process to the release proposals for LTS branches or a bit earlier here when planning a release. More hands backporting is probably a good thing and we can always back things out if we decide they don't belong.

[2018-11-19 11:41] rvagg opened #389 "Upcoming LTS release plans?"
@MylesBorins I know you used to put together proposed dates for releases but I can't find a recent one. Is this not a thing you're doing anymore? I'd be happy to work on one of them, maybe a 10.x bump since @BethGriggs is working on the 8.x, but I need to figure out where to slot in.

[2018-11-19 14:09] mhdawson commented on #388
I would agree with making it more flexible as well.  At very least allowing the sign off would make it possible to share the work a bit more.

[2018-11-19 14:11] targos commented on #388
I'm not sure that being able to land things on the staging branch will encourage more people to actually do the important part of the work (open backport PRs).

[2018-11-19 14:45] MylesBorins commented on #389
@rvagg I've been slowly stepping back from release duties and attempting to mentor new folks to take on responsibilities. I was thinking that @codebytere might want to prep the next 10.x release.

Overall we might do best by coming up with a release schedule for the next couple months and get people to volunteer for the specific releases... thoughts?

[2018-11-19 16:06] codebytere commented on #389
I'd be interested in taking this on!

[2018-11-19 16:22] MylesBorins opened #390 "LTS release proposal for q4 2018 and q1 2019"
## Q4 2018 Carbon (8.x) Release Schedule

Date | Release
------------ | -------
Nov 20th      | v8.13.0
Dec 4th        | v8.13.1-rc
Dec 18th      | v8.13.1

At the end of Q4 8.x moves to maintenance mode

## Q4 2018 Dubnium (10.x) Release Schedule

Date | Release
------------ | -------
Nov 27th      | v10.14.2-rc
Dec 11th       | v10.14.2
Dec 26th      | v10.14.3-rc

## Q1 2019 Dubnium (10.x) Rele

[2018-11-19 16:23] MylesBorins commented on #389
@rvagg I've opened https://github.com/nodejs/Release/issues/390 with proposed dates for releases until the end of Q1

[2018-11-19 16:23] MylesBorins commented on #390
Does anyone have thoughts about this schedule. Would people be able to volunteer taking responsibility for these specific releases? That would include getting backports up to date and cutting the release / rc's.

Happy to mentor anyone interested in helping out

[2018-11-19 19:40] BethGriggs commented on #390
I'll volunteer for v8.13.1, happy to help out with 10.x in Q1 too - maybe we could rotate between releasers when it is just 10.x?

[2018-11-20 06:10] MylesBorins commented on #245
This seems to have been ok in the last couple releases

[2018-11-20 06:10] #245 closed

[2018-11-20 06:13] #299 closed

[2018-11-20 06:14] #339 closed

[2018-11-20 06:15] #340 closed

[2018-11-20 06:15] #347 closed

[2018-11-20 06:15] MylesBorins commented on #354
last call for updates. We only have one more release until maintenance

[2018-11-20 06:16] MylesBorins commented on #357
First pass at this proposed in https://github.com/nodejs/Release/issues/390

[2018-11-20 06:16] #357 closed

[2018-11-20 06:16] MylesBorins commented on #390
@targos do you want to include current releases here too?

[2018-11-20 06:17] #358 closed

[2018-11-20 06:17] #364 closed

[2018-11-20 08:55] targos commented on #390
@MylesBorins I think we can open another issue for current releases?

/cc @BridgeAR

[2018-11-20 09:32] targos opened #392 "Require pull request reviews before merging to release branches"
Yesterday, a commit was pushed by mistake to the release branch `v11.x` (https://github.com/nodejs/node/pull/24389#issuecomment-440060514).
To prevent this from happening again in the future, I would like to discuss the possibility of requiring pull request reviews before merging to release branches.
I think we don't need to require more than one review. To me, this seems like a good thing to do t

[2018-11-20 13:52] MylesBorins commented on #392
We generally don't have review on the "working on x.y.z" commit, how would
we rectify that?

On Tue, Nov 20, 2018, 4:32 AM Michaël Zasso <notifications@github.com wrote:

[2018-11-20 14:00] targos commented on #392
Ah, right... I think it's possible to change the process to push first to the  PR and then to the branch.

[2018-11-20 14:45] targos commented on #392
This prevents it because to land something on `v11.x` you would have to open a new pull request (cherry-picks are not allowed automatically). I agree that only a small number of users can push to those branches but the mistake could happen again and it's not ideal to have to unprotect all release branches to fix it.

I think requiring reviews is a good thing independently of this particular case:

[2018-11-20 15:18] MylesBorins commented on #388
So I was thinking about this... I think we should perhaps consider enforcing commits to be signed if they are cherry-picked to an LTS staging branch. Thoughts?

[2018-11-20 15:30] targos commented on #388
I'm not against it, but what would be the benefit?
Note that it is the committer that matters for signed commits. If you rebase a branch that has unsigned commits, they will all be signed (with your key) after the rebase.

I think we should at least do it for all release branches (see https://github.com/nodejs/Release/issues/392).

[2018-11-20 15:54] MylesBorins commented on #388
@Targos rebasing would remove the history, but we would be able to audit who made what changes prior to a rebase

[2018-11-20 16:02] targos commented on #388
:+1:

[2018-11-21 02:45] Fishrock123 commented on #392
oh shit, I forgot to merge to staging.

tells you how absurdly complex our release process is 🙄

[2018-11-21 02:50] rvagg commented on #390
Looks good to me. It seems like the aim is for roughly monthly releases but aligned to Tuesdays, I like that.

How about for releaser scheduling we just keep 1 release ahead, so we always know who's doing next. If @BethGriggs, you do the next v8, @codebytere I think might like to do the next v10, then we're 👌. After those releases let's make sure we slot someone in for the next v10.

It looks like

[2018-11-21 02:50] #389 closed

[2018-11-21 02:53] MylesBorins commented on #390
@codebytere has already been nominated and approved for the release team 🎉

Since they have been working on backports for a couple months now I was
imagining they could work on preparing the release and I could sign /
promote while they Shadow me

They could then promote / sign the following release

Thoughts?

On Tue, Nov 20, 2018, 9:50 PM Rod Vagg <notifications@github.com wrote:

[2018-11-21 03:07] rvagg commented on #390
Sounds good, so that'll be 10.13.1. I'd still love to see a Current release signed with a new key before LTS but if the next 10 has your key then we have at least until the 10 after that to have a Current in between if we agree that's the way to go (I'm happy to hear objections as this as a policy).

@codebytere would you like to tackle a Current sometime in the next month or two? We could then as

[2018-11-21 03:09] MylesBorins commented on #390
Seems reasonable to get a current release out with the key first as a way to test it out. Should we open a PR to document this as part of the on boarding process?

[2018-11-21 03:12] rvagg commented on #392
Well, in practical terms, releasers own those branches, so you could just clean them up however you like. If someone accidentally lands something on a `.x` branch then you could just force push it out to clean it up. Since the number of people managing these branches is small I don't think that's going to mean much toe stepping. I wouldn't object if the person doing the next Current took the initi

[2018-11-21 03:31] MylesBorins commented on #392
I think this is part of what our contract is on the .x branches… up until now we’ve been treating them as a source of truth and that should never be forced pushed to. With that being said this is the first time anything has accidentally landed since we’ve been working with this setup… it seems reasonable to allow for the one off and simply disable / force push if this happens again.

[2018-11-21 07:41] targos commented on #392
And what about the other argument I made (more engagement in release PRs)?

[2018-11-21 12:16] rvagg commented on #390
Proposed @ https://github.com/nodejs/Release/pull/393

Also noticed while doing this that:

Oops, so we should have got @BethGriggs' key onto README 2 weeks ago.

@codebytere: since you're already approved, you should get yours onto nodejs/node/README.md too and do the bit about informing the Docker team about your GPG key as well if you haven't already so they can get their scripts updated ahead

[2018-11-21 12:23] richardlau commented on #390
Myles signed the 8.13.0 release: https://github.com/nodejs/node/pull/24532#issuecomment-440513035

[2018-11-21 16:12] MylesBorins commented on #390
@rvagg the way we have been doing it is waiting until they are onboarded to add the keys. As mentioned by richard above I signed the 8.13.0 release. Will review your PR

[2018-11-21 19:03] richardlau commented on #376
I agree. I also wonder if we're not going to be in the same situation with 10.x and 12.x.

I'm assuming we'll be somehow communicating the change of date ahead of 1 Jan 2019 (so it's not a surprise to anyone not following this repository)? (It's too late, but maybe it should have been with the 8.13.0 release blog).

[2018-11-21 19:35] nicolasnoble commented on #384
No, we just need some time to achieve it.

[2018-11-22 11:17] rvagg commented on #384
FYI I'm working on a `NODE_MODULE_VERSION` registry that may be helpful when combined with index.json for node-pre-gyp and similar tools. See #24114. I need to do some more refinements of the idea but hope to have this in `master` soon.

[2018-11-26 11:38] rammadogs opened #394 "windows 10, nodejs 10.12.0 boxstarter dependency force reboot"
This issue seems to already exist but has been closed without being solved so I'm reposting it. You may argue that there was a warning but to see it, I would have had to read a huge wall of text. I understand the reason to restart the computer while installing something but there is no need to do so instantly with no warning and giving the user no chance to save their work. I just lost a heck of a

[2018-11-26 12:35] richardlau commented on #394
Duplicate of https://github.com/nodejs/Release/issues/369.

[2018-11-26 12:35] #394 closed

[2018-11-26 22:02] #376 closed

[2018-11-26 22:13] MylesBorins commented on #354
oops... meant to ping.

It appears that @nodejs/n-api has drifted again. Below are commits that are on 10.x but not 8.x

* 9b951601e2 - (HEAD -> v10.x-staging) n-api: make per-`Context`-ness of `napi_env` explicit (2 minut
es ago)<Anna Henningsen>
* 76453f1878 - src: replace deprecated uses of FunctionTemplate::GetFunction (9 weeks ago)<Andreas Haas>
* 5d5c3fab25 - src: refactor `Environment::GetC

[2018-11-26 22:39] boneskull commented on #376
Was/is there a larger conversation around backporting somewhere?  The impression I get is that it's often painful to do.  I have a feeling it's also rather thankless work.

From the angle of the [package maintenance](https://github.com/nodejs/package-maintenance) initiative, it'd be good to collect some knowledge around what works and what doesn't.

related, @MylesBorins I'm not available to help

[2018-11-28 21:33] mhdawson commented on #354
The most important one I see would be:

53f8563353 - n-api: back up env before async work finalize (6 months ago)

@gabrielschulhof I'm not sure if you will have a chance to review as well?  A number of them are related to the thread safe functionality.

This is probably the last chance to get the thread safe functionality into 8.x.

It might also be nice to get bb2bbc8ebe - n-api: add generic fin

[2018-11-29 17:04] MylesBorins commented on #390
I've updated the release post including info on each person who has volunteered for the release

Closing this issue. We can figure out who is going to do the q1 2019 releases somewhere else

[2018-11-29 17:04] #390 closed

[2018-12-04 17:39] BethGriggs opened #395 "Volunteering for next v11.x"
As discussed in https://github.com/nodejs/Release/pull/393, new releasers need to prep and release at least one Current Node.js release before promoting an LTS release.

 I volunteer to do the next v11.x (maybe next week?)
/cc @MylesBorins

[2018-12-04 18:55] targos commented on #395
I think @BridgeAR is preparing the v11.x release for this week.

[2018-12-06 18:13] dshaw commented on #376
@boneskull There were major calls to recruit releasers at both collaborator summits this year. @MylesBorins has been bearing most of the burden of backporting for a couple years.

[2018-12-07 19:39] jasonkarns commented on #295
[nodenv](https://github.com/nodenv/nodenv) uses the index.json file from nodejs.org/dist/* to generate the build definition files for node-build: https://github.com/nodenv/node-build-update-defs

[2018-12-07 20:11] knksmith57 commented on #295
also might be worth noting that, for release / version resolution, the zeit team and I updated http://resolve-node.now.sh ([zeit/resolve-node](https://github.com/zeit/resolve-node)) a while back in response to the lack of properly maintained, publicly available solutions.

The API is a JSON proxy in front of [`/dist/index.json`](https://nodejs.org/dist/index.json) that provides semver + codename r

[2018-12-07 20:42] jasonkarns commented on #295
It's also worth noting that getting latest for any major release (or codename) is also supported directly by the nodejs.org dist/ listings: (for simple use cases)

https://nodejs.org/dist/latest/
https://nodejs.org/dist/latest-carbon/
https://nodejs.org/dist/latest-v11.x/

[2018-12-07 21:09] jasonkarns opened #396 "What to do when release tarball shasums change?"
I just discovered that the shasums for an old RC have changed since it was originally released.

v6.11.0-rc.1 https://nodejs.org/download/rc/v6.11.0-rc.1/  was originally released in May 2017.

The current files (all but the sunos-x64 tarballs) now have a modified date of Oct 2017 and the shasums don't match what they were originally:

[code]

I realize it's been a while since those shasums change

[2018-12-07 21:57] MylesBorins commented on #396
@jasonkarns we don't offer stability for the tarballs in rc releases as of right now, in fact I think we have even deleted release candidates at times. We do offer stability for all promoted releases

[2018-12-07 22:03] jasonkarns commented on #396
That's cool. I wasn't really expecting permanent availability. The main thing I wanted to hopefully confirm is that there wasn't any chance those tarballs were maliciously modified. (realizing that possibility is drastically low considering more high-value releases, if an attacker _did_ compromise the dist/ host)

[2018-12-07 22:16] MylesBorins commented on #396
@jasonkarns we have no reason to believe that those tarballs were compromised

I did a bit of digging on the server. v6.12.0-rc.1 was release on the exact same day. My guess, as the releaser of 6.12.0... I perhaps set the version string incorrectly in node_version.h and when I did the RC build it build a new 6.11.0, which in turn over wrote the other release (something that couldn't happen with th

[2018-12-07 22:16] #396 closed

[2018-12-08 14:52] targos opened #397 "Plan for Node.js 11 Current releases"
Week | Approximative date | Release | Releaser
------------ | :-------: | ------ | ----
2018 - 49 | 2018-12-07 | v11.4.0 |@BridgeAR
2018 - 51 |   2018-12-18  | v11.5.0 | @BethGriggs
2018 - 52 |   2018-12-26  | v11.6.0 | @MylesBorins
2019 - 03 | 2019-01-18 | v11.7.0 | @BridgeAR
2019 - 04 | 2019-01-24 | v11.8.0 | @MylesBorins
2019 - 05 | 2019-01-30 | v11.9.0 | @targos
2019 - 07 | 2019-02-14 | v11.10

[2018-12-08 15:09] #252 closed

[2018-12-08 15:11] targos commented on #304
https://github.com/nodejs/Release/pull/318 landed

[2018-12-08 15:13] targos commented on #319
See https://github.com/nodejs/Release/pull/318
We now have codenames ready until Iron (20.x 2023). Let's revisit in five years.

[2018-12-08 15:13] #319 closed

[2018-12-08 15:14] #328 closed

[2018-12-08 15:15] targos commented on #333
Ping @nodejs/release

[2018-12-08 15:17] targos commented on #359
@bnb what's the next step? Would you like to document this somewhere?

[2018-12-08 15:18] targos commented on #395
I opened https://github.com/nodejs/Release/issues/397 to track all future releases of v11.x. I suggest we close this issue.

[2018-12-08 18:03] #395 closed

[2018-12-08 23:16] targos commented on #397
@MylesBorins  OK, I changed the dates... But those should not be considered fixed. I personally have more time to do releases on Wednesdays or Thursdays.

[2018-12-09 16:52] BridgeAR commented on #397
I suggest to use the dates as recommendation and let the releasing person be flexible with the actual day while trying to prevent releases on Fridays.

I am fine to volunteer for e.g., each even 11 release. That way I know when to take some time for it.

[2018-12-10 22:12] MylesBorins commented on #397
@BridgeAR I generally push for releases on Tuesday for 2 reasons

1. Give external teams appropriate time during the week to adopt the new release
2. Give us a large buffer in case of release problems. We have had releases that broke stuff, it wasn't pointed out until wednesday / thursday, we then in turn still had time to respond and get a new release out during the week without requiring a fired

[2018-12-11 14:03] BridgeAR commented on #333
I am also +1 for meetings.

The doodle is outdated, so I did not fill it out. I believe it's best to open up a new and smaller one which contains exactly one week which we use as reference for all weeks?

[2018-12-11 14:10] MylesBorins commented on #333
I have alternating bi weekly meetings. So imho it does make sense to have
two weeks on the doodle.

On Tue, Dec 11, 2018, 9:03 AM Ruben Bridgewater <notifications@github.com
wrote:

[2018-12-11 14:11] MylesBorins commented on #333
Alternatively, does anyone object to 11 ET on Thursdays?

(Figured if we can all agree on that time perhaps we don't need to do a
doodle)

On Tue, Dec 11, 2018, 9:09 AM Myles Borins <mylesborins@google.com wrote:

[2018-12-11 14:15] targos commented on #333
11 ET is OK for me, if we start in January

[2018-12-13 15:30] Lukenickerson commented on #76
While this is explained in the text in https://github.com/nodejs/Release#release-plan it would be good to also include a legend or bulleted list closer to the chart so it's easier to locate the definition of "CURRENT" vs. "ACTIVE" vs. "MAINTENANCE".

[2018-12-13 16:59] #147 closed

[2018-12-15 22:15] bnb commented on #359
@targos yes, documenting that somewhere would be ideal. It would be awesome if we could have a `Glossary` section of the `README.md` that included all the terms we use (including this) 🤔

[2018-12-16 16:20] targos commented on #397
I volunteer for 2019-01-22

[2018-12-18 02:51] rvagg commented on #359
I say "actively supported release lines" whenever I do security releases that need to cover them all. I think also if you're going to clarify this terminology you should be clear about "releases" and "release lines" too cause that gets messy.

[2018-12-18 03:51] rvagg commented on #333
3am for me, I'm not quite that excited, so it's a no for me

[2018-12-18 11:21] BridgeAR commented on #333
11 ET on Thursdays would be fine for me. But since that does not work for @rvagg maybe we could move it either three hours earlier or three hours later (while I could not participate well three hours later).

[2018-12-19 06:01] rvagg commented on #333
don't bother, ET + Europe makes it tough to include APAC

[2018-12-21 23:53] MylesBorins opened #401 "special release for all release lines to fix regressions from last security release"
The last security release included a regression in 6 / 8 / 10 in HTTP binary response body. There was also no CLI option to change the maximum header size in 6 / 8 / 10 / 11.

I've proposed releases for all release lines to account for this, planning to push them out next Wednesday the 26th. They are Semver-Minor and include no other commits (aside from 10 that required a single commit to fix a re

[2018-12-21 23:54] MylesBorins commented on #401
/cc @nodejs/tsc @nodejs/security @nodejs/lts

[2018-12-22 08:07] mcollina commented on #401
sgtm

[2019-01-02 18:07] mhdawson commented on #401
Closing since releases are out.

[2019-01-02 18:07] #401 closed

[2019-01-03 20:49] MylesBorins opened #404 "Changes to 10.x q1 release schedule"
Hey All,

due to the extra release at the end of 2018 I've updated the [2019 q1 release schedule](https://github.com/nodejs/Release/wiki#q1-2019-dubnium-10x-release-schedule). Please find a copy below. Any objections?

## Q1 2019 Dubnium (10.x) Release Schedule

Date | Release | Releaser
------------ | ------- | -------
Jan 15th         | v10.15.1-rc | @codebytere
Jan 29nd      | v10.15.1 | @codeb

[2019-01-03 20:59] MylesBorins commented on #333
Based on the above I'd like to propose we have a first meeting on the 17th and meet biweekly afterwards

[2019-01-03 20:59] MylesBorins commented on #333
Based on the above I'd like to propose we have a first meeting on the 17th and meet biweekly afterwards

[2019-01-03 22:13] MylesBorins opened #405 "[Tracking] Additional semver minor to 8.x during maintenance"
There are a couple different features that we might want to ship before 8.x goes EOL

* [tsfn support for n-api](https://github.com/nodejs/node/pull/25002)
* various crypto features (/cc @tniessen)
* [namespaces](https://github.com/nodejs/node/pull/21551)

As such I think it does make sense for us to do one more Semver-Minor relase of the 8.x release line.

Thoughts?

[2019-01-04 14:18] mhdawson commented on #405
@MylesBorins I assume you mean 8.x in your original post as opposed to 10.x.

[2019-01-04 14:24] MylesBorins commented on #405
@mhdawson fixed, thanks

[2019-01-07 04:36] MylesBorins commented on #279
Closing as we avoided this with the last release. Please reopen or ask me to if you think i've done so inappropriately

[2019-01-07 04:36] #279 closed

[2019-01-07 04:37] MylesBorins commented on #354
8.x is now in maintenance mode, closing

[2019-01-07 04:37] #354 closed

[2019-01-07 04:48] lawnsea commented on #322
I have the same usecase as @shaunwarman. We maintain a set of docker images that we want to rebuild when Node releases. We're ok with it taking hours, but not days to notice that we need to rebuild.

[2019-01-07 19:01] targos commented on #397
Ping @nodejs/releasers do we have a volunteer for this week? It would be nice to have a patch release with npm 6.5.0 stable.

[2019-01-07 19:11] BridgeAR commented on #397
I'll prepare the release tomorrow.

[2019-01-08 16:10] MylesBorins commented on #404
updated one last time... consider this now locked.

Any objections

[2019-01-08 16:13] MylesBorins commented on #333
I've added it to the Calendar and the Zoom

[2019-01-08 23:31] ljharb commented on #397
how goes today's patch release? :-D

[2019-01-09 00:47] BridgeAR commented on #397
@ljharb currently there are lots of conflicts between master and 11.x and I did not get to resolve all of these and I have to get some sleep but I'll try to finish it tomorrow.

It's likely that we should backport a couple of older commits first though. Otherwise each release is going to become more complicated.

[2019-01-09 01:05] ljharb commented on #397
I'm most interested in seeing https://github.com/nodejs/node/pull/25234 make it into an 11.6 patch release; as long as it doesn't get delayed to an 11.7, i'm more than happy to wait til you have time :-) Thanks!

[2019-01-09 01:08] MylesBorins commented on #397
@ljharb that one is already on staging 🎉

On Tue, Jan 8, 2019, 8:05 PM Jordan Harband <notifications@github.com wrote:

[2019-01-15 16:12] richardlau commented on #405
I'd like to get https://github.com/nodejs/node/pull/25447 in if we do another 8.x release. Let me know if it needs a manual backport.

[2019-01-15 16:53] MylesBorins commented on #405
@richardlau can you please backport?

[2019-01-15 18:11] richardlau commented on #405
Done! https://github.com/nodejs/node/pull/25521

[2019-01-15 18:24] mhdawson commented on #405
@MylesBorins what timing are you thinking for the release.  Just want to make sure we sync with @gabrielschulhof to see if there is any chance it can also include the PR to make tsfn non-experiemental as wel as opposed that coming later.

[2019-01-15 18:34] MylesBorins commented on #397
@BridgeAR are you still able to do this?

[2019-01-15 19:29] mhdawson opened #407 "Node.js Foundation Release WorkGroup Meeting 2019-01-17"
## Time

**UTC Thu 17-Jan-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 17-Jan-2019 08:00 (08:00 AM) |
| US / Mountain | Thu 17-Jan-2019 09:00 (09:00 AM) |
| US / Central  | Thu 17-Jan-2019 10:00 (10:00 AM) |
| US / Eastern  | Thu 17-Jan-2019 11:00 (11:00 AM) |
| London        | Thu 17-Jan-2019 16:00 (04:00 PM) |

[2019-01-15 21:30] targos commented on #407
I hope I can make it but I have a work meeting 2 hours before and I don't know how long it will be

[2019-01-16 15:55] BridgeAR commented on #397
I opened a release proposal for 11.7.0 (should this be a semver-patch release? If so, it'll we a tiny release as we had quite some issues backporting things and it would require more time to resolve further conflicts. Right now we are back on track with the conflicts and have only few backport requests to 11.x).

https://github.com/nodejs/node/pull/25537

[2019-01-16 16:47] ljharb commented on #397
My hope is for a patch release.

[2019-01-16 17:20] MylesBorins commented on #397
@ljharb why a patch release? We have brotli and a number of semver-minor commits

I'm personally -1 on doing a patch release, it isn't the process we've done in the past for current and will significantly complicate landing a bunch of stuff.

[2019-01-16 18:09] ljharb commented on #397
I mean obv if there’s additions it should be a minor; it’s just disappointing since a patch release with the npm fix should have been able to go out before landing those.

[2019-01-17 16:02] MylesBorins commented on #407
Join Zoom Meeting
https://zoom.us/j/337123806

One tap mobile
+16465588656,,337123806# US (New York)
+16699006833,,337123806# US (San Jose)

Dial by your location
        +1 646 558 8656 US (New York)
        +1 669 900 6833 US (San Jose)
        +1 855 880 1246 US Toll-free
        +1 877 369 0926 US Toll-free
Meeting ID: 337 123 806
Find your local number: https://zoom.us/u/aeCciR4RV4

[2019-01-17 16:06] MylesBorins commented on #407
New link

https://zoom.us/j/396202986

[2019-01-17 17:00] BridgeAR commented on #397
@targos since the release took somewhat longer due to backporting a lot of things that caused conflicts: it's probably best to move the release after 11.7.0 by one week or skip the release.

[2019-01-18 10:31] targos commented on #397
OK, I shifted everything by one week. In the future, I think it will be better to stick with the schedule and avoid blocking on pending backports. Current releases happen often enough that we can postpone backports to the next one.

[2019-01-18 19:17] richardlau commented on #407
Does the meeting generator allow for more than one agenda label? There was one `lts-agenda` labelled item over in `nodejs/node` that probably should be discussed in these meetings: https://github.com/nodejs/node/labels/lts-agenda

[2019-01-21 05:18] MylesBorins commented on #407
We would need to fix the tool.

This is likely an artifact of the meetings having been "lts-agenda" in the
past

Best bet would be to remove the lts agenda label all together imho

On Fri, Jan 18, 2019, 2:17 PM Richard Lau <notifications@github.com> wrote:

[2019-01-21 22:13] mhdawson commented on #407
Agreed, best to just remove lts-agenda and use release-agenda.  The tool only allows one label.

[2019-01-21 23:37] richardlau commented on #407
I've added `Release-agenda` to the issue and removed the `lts-agenda` label completely (so it doesn't get added to any issues in the future).

[2019-01-24 20:55] #404 closed

[2019-01-24 20:55] MylesBorins commented on #405
Removing label as we had consensus to do this release.

We should keep this open for tracking

[2019-01-28 13:06] mhdawson opened #411 "Node.js Foundation Release WorkGroup Meeting 2019-01-31"
## Time

**UTC Thu 31-Jan-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 31-Jan-2019 08:00 (08:00 AM) |
| US / Mountain | Thu 31-Jan-2019 09:00 (09:00 AM) |
| US / Central  | Thu 31-Jan-2019 10:00 (10:00 AM) |
| US / Eastern  | Thu 31-Jan-2019 11:00 (11:00 AM) |
| London        | Thu 31-Jan-2019 16:00 (04:00 PM) |

[2019-01-29 04:50] MylesBorins commented on #411
I've added two more agenda items that didn't have labels on them yet. Unsure if I will be able to make it as I'm at tc39 this week, will do my best

[2019-01-29 05:30] MylesBorins opened #443 "Should libuv upgrades be semver-minor?"
Refs: https://github.com/nodejs/node/pull/24332

I've added the label periodically here is an example of an earlier version marked semver-minor

https://github.com/nodejs/node/pull/18260

1.24.1 and 1.25.0 were both landed as patches as well

https://github.com/nodejs/node/pull/25571
https://github.com/nodejs/node/pull/25078

In general we have not landed these in semver-patch LTS releases, as suc

[2019-01-31 16:06] BethGriggs commented on #411
Webinar link - https://zoom.us/j/157618869

[2019-02-01 19:52] ofrobots commented on #388
Any conclusion on this? I do a lot of backports of upstream V8 fixes. The hard part of the backport process is in getting the upstream changes triaged and modified to work on older node branches. The frustrating part is waiting for someone to land the change. This can take several weeks (e.g #25330). There is nobody at fault here – we are humans, and we have our scalability limits.

IMO, we should

[2019-02-06 19:54] ljharb commented on #405
It would be *really* nice to backport the `instanceof Array` fixes from https://github.com/nodejs/node/pull/20250/files#diff-286202fdbdd74ede6f5f5334b6176b5cL320 into 8 (and even 6). It breaks jest, and cross-realm use cases, and I can't conceive of how the fix would cause any trouble.

[2019-02-06 21:24] #407 closed

[2019-02-06 21:25] BethGriggs commented on #411
Minutes at https://github.com/nodejs/Release/blob/master/doc/meetings/2019-01-31.md

[2019-02-06 21:25] #411 closed

[2019-02-06 21:34] BethGriggs opened #414 "Final 6.x release before EOL? [Discussion]"
There are currently 8 commits on [v6.x-staging](https://github.com/nodejs/node/commits/v6.x-staging), and [2 open backport PRs](https://github.com/nodejs/node/pulls?q=is%3Aopen+is%3Apr+label%3Av6.x) targetted at Node 6.

I think we should discuss whether we should do a final release including all or a subset of the commits/PRs.

[2019-02-06 21:40] richardlau commented on #414
@ljharb also [asked in IRC](http://logs.libuv.org/node-dev/2019-02-06) and https://github.com/nodejs/Release/issues/405#issuecomment-461164134 whether the `instanceof Array` fixes from https://github.com/nodejs/node/pull/20250/files#diff-286202fdbdd74ede6f5f5334b6176b5cL320 could be backported.

[2019-02-06 21:48] richardlau commented on #414
These are the commits on [v6.x-staging](https://github.com/nodejs/node/commits/v6.x-staging) that are not in a release:
https://github.com/nodejs/node/commit/bc916e971ec90189c3c04985316a8c55f56f4585 tools,gyp: fix regex for version matching
https://github.com/nodejs/node/commit/16661e6636f00b70d5c5bed7fc027018a8d74b6e build: fix configure script for double-digits
https://github.com/nodejs/node/com

[2019-02-06 22:15] richardlau commented on #414
My thoughts:

These commits are backports relating to fixing building Node.js on macOS with Xcode 10 however Xcode 10 has also removed `libstdc++` which Node.js 6 uses (Node.js 8 and above use `libc++`) which we can't switch from without risking ecosystem breakage for prebuilt addons: https://github.com/nodejs/node/issues/24648. It's questionable whether these commits on their own would actually f

[2019-02-06 22:19] richardlau commented on #414
Of the two pull requests:
https://github.com/nodejs/node/pull/22633 falls under the n-api process under review at https://github.com/nodejs/Release/pull/410 (currently no objections).

https://github.com/nodejs/node/pull/25939 looks like it is related to the security fixes in the recent v6 releases so probably warrants a new release?

[2019-02-06 22:30] richardlau commented on #414
There's also https://github.com/nodejs/node/pull/25447 for AIX which fixes a regression introduced by https://github.com/nodejs/node/pull/17604 which was backported to v6.14.2.

[2019-02-11 13:06] mhdawson opened #416 "Node.js Foundation Release WorkGroup Meeting 2019-02-14"
## Time

**UTC Thu 14-Feb-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 14-Feb-2019 08:00 (08:00 AM) |
| US / Mountain | Thu 14-Feb-2019 09:00 (09:00 AM) |
| US / Central  | Thu 14-Feb-2019 10:00 (10:00 AM) |
| US / Eastern  | Thu 14-Feb-2019 11:00 (11:00 AM) |
| London        | Thu 14-Feb-2019 16:00 (04:00 PM) |

[2019-02-11 16:13] mhdawson commented on #416
Sorry can't make it this week as I'm at IBM's Think conference.

[2019-02-12 09:12] richardlau commented on #416
Unsure if I'll make this week's meeting as I'm currently recovering from a cold. I've added https://github.com/nodejs/Release/issues/414 to the agenda -- I think we should keep track of it until we decide one way or the other about doing another 6.x release.

[2019-02-13 19:02] targos commented on #397
Can anyone prepare a release for this week?

[2019-02-14 13:45] targos commented on #397
I found some time to do it today: https://github.com/nodejs/node/pull/26098

[2019-02-14 16:06] BridgeAR commented on #416
I guess we need a new host since @mhdawson is not able to attend?

I just started another zoom session https://us04web.zoom.us/j/906555115

[2019-02-14 16:12] targos commented on #416
I forgot about the meeting... Coming asap

[2019-02-14 16:46] BridgeAR commented on #416
Only @targos, @richardlau and me were able to join today and since most open questions are about @nodejs/lts we skipped the main agenda. Instead we suggest to have another meeting on Monday 18.02. the same time if that fits the others.

#393 seems uncontroversial and it should likely just land?

#25785 I personally feel we could just document that here: https://github.com/nodejs/node/blob/master/d

[2019-02-14 16:49] BethGriggs commented on #416
Sorry I missed this one, something came up last minute 😞  - Thank you for taking it over @BridgeAR

I agree with #393 being good to land.

[2019-02-14 16:57] BethGriggs commented on #414
@nodejs/releasers @nodejs/lts - are there any concerns about doing this release with the list (or subset) of commits.  I should be able to find time to prepare the release if there are any concerns about the labour involved.

[2019-02-14 17:16] MylesBorins commented on #414
I'm +1 on a final release with the above changes.

[2019-02-17 00:04] mhdawson commented on #414
@BethGriggs no concerns from me, but based on the comments it was not clear to me if all of the commits from the original list apply.  Can you clarify the specific list that would be included?

[2019-02-18 10:47] BethGriggs commented on #414
Draft commit list:

- [ ] [nodejs/node@bc916e9](https://github.com/nodejs/node/commit/bc916e971ec90189c3c04985316a8c55f56f4585) tools,gyp: fix regex for version matching
- [ ] [nodejs/node@16661e6](https://github.com/nodejs/node/commit/16661e6636f00b70d5c5bed7fc027018a8d74b6e) build: fix configure script for double-digits
- [ ] [nodejs/node@33cd51e](https://github.com/nodejs/node/commit/33cd51e545

[2019-02-18 10:55] BethGriggs commented on #414
I'm leaning against the macOS with xcode 10 fixes based on @richardlau's [comments](https://github.com/nodejs/Release/issues/414#issuecomment-461209683) - I have not seen any requests for those, and if those commits are not guaranteed to fix anything then perhaps it is not worth the risk?

[2019-02-18 11:48] BethGriggs opened #417 "Preparation for Node.js 12"
Issue for tracking the progress of Node 12. The current checklist is based on @jasnell's guide for major releases - https://github.com/nodejs/node/pull/25497.

- [x] Cut branches [v12.x](https://github.com/nodejs/node/tree/v12.x), [v12.x-staging](https://github.com/nodejs/node/tree/v12.x) and keep in sync with `master`
- [x] Create v12.x-proposal branch that tracks v12.x -  ETA February 23rd 2019

[2019-02-19 13:46] BethGriggs commented on #416
I landed  "doc: update to reflect N-API [#410](https://github.com/nodejs/Release/pull/410)" as it had 6 approvals. We have also agreed to do a final 6.x release in [#414](https://github.com/nodejs/Release/issues/414).

The two items to be carried over to the agenda next week will be
* Should libuv upgrades be semver-minor? [#25785](https://github.com/nodejs/node/issues/25785)
* Plan for Node.js 11

[2019-02-19 13:46] #416 closed

[2019-02-20 19:21] mhdawson commented on #417
We should probably add a step for adding the release to the data captured on benchmarking.nodejs.org

[2019-02-25 13:05] mhdawson opened #418 "Node.js Foundation Release WorkGroup Meeting 2019-02-28"
## Time

**UTC Thu 28-Feb-2019 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 28-Feb-2019 08:00 (08:00 AM) |
| US / Mountain | Thu 28-Feb-2019 09:00 (09:00 AM) |
| US / Central  | Thu 28-Feb-2019 10:00 (10:00 AM) |
| US / Eastern  | Thu 28-Feb-2019 11:00 (11:00 AM) |
| London        | Thu 28-Feb-2019 16:00 (04:00 PM) |

[2019-02-28 16:15] richardlau commented on #418
Only @mhdawson, @BethGriggs and myself joined today and we decided to cancel the meeting as the agenda was light and discussions can continue in the issues.

[2019-02-28 17:06] #418 closed

[2019-03-01 13:59] BridgeAR commented on #397
Should we release the next current (v11) version next week or the week after? It was originally planned to release it this week but it was postponed due to the security release.

I personally suggest to release it on next Tuesday but I do not know how everyone else feels about it.

[2019-03-01 14:40] targos commented on #397
I have no objection to doing releases two weeks in a row (if there are enough commits to warrant it).

[2019-03-01 14:42] MylesBorins commented on #397
Next week sounds good to me. In general a weekly cadence for Current is
absolutely fine I'd there are enough commits

On Fri, Mar 1, 2019, 9:40 AM Michaël Zasso <notifications@github.com> wrote:

[2019-03-06 21:06] richardlau commented on #414
https://github.com/nodejs/node/pull/25447 doesn't land cleanly on `v6.x-staging` but the [`v8.x` backport](https://github.com/nodejs/node/pull/25521) does. Raised https://github.com/nodejs/node/pull/26478.

[2019-03-11 12:06] mhdawson opened #419 "Node.js Foundation Release WorkGroup Meeting 2019-03-14"
## Time

**UTC Thu 14-Mar-2019 15:00 (03:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 14-Mar-2019 08:00 (08:00 AM) |
| US / Mountain | Thu 14-Mar-2019 09:00 (09:00 AM) |
| US / Central  | Thu 14-Mar-2019 10:00 (10:00 AM) |
| US / Eastern  | Thu 14-Mar-2019 11:00 (11:00 AM) |
| London        | Thu 14-Mar-2019 15:00 (03:00 PM) |

[2019-03-11 16:02] MylesBorins commented on #419
We should review the next set of LTS releases and agree on the server minor
changes (for 8 and 10)

On Mon, Mar 11, 2019, 8:06 AM Michael Dawson <notifications@github.com>
wrote:

[2019-03-11 16:10] BethGriggs commented on #414
https://github.com/nodejs/node/pull/20250 requested by @ljharb doesn't land cleanly on v6.x so will need a backport. I'm a little concerned that the PR is referenced in some ecosystem breakages, do we want to risk breaking anyone on v6.x this late?  Does it need to land with https://github.com/nodejs/node/pull/24006?

Thoughts @nodejs/lts @nodejs/backporters?

//cc @apapirovski

[2019-03-11 16:13] ljharb commented on #414
@BethGriggs the references, i believe, are that the PR *fixes* an issue - by backporting the Array.isArray changes in particular (not the rest) you’ll be allowing the ecosystem to remove its workaround for node 6+.

[2019-03-11 17:25] BethGriggs commented on #417
First test build - https://nodejs.org/download/test/v12.0.0-test1482547441/

[2019-03-11 17:49] MylesBorins commented on #414
@ljharb that is not the case. This change did indeed cause ecosystem breakage... I'll dig in a but more but my current gut is leaning to not making such a disruptive change at the end of LTS

[2019-03-11 17:51] ljharb commented on #414
@mylesborins i have no interest in the http header changes - only in the use of `Array.isArray` over `instanceof Array` - i can’t conceive of how that change alone could cause breakage. Could that alone be backportes?

[2019-03-11 17:55] vsemozhetbyt commented on #417
Sorry, if this is a wrong place to ask.

We remove experimental warnings for `fs` and `dns` promisified API (see https://github.com/nodejs/node/pull/26581 and  https://github.com/nodejs/node/pull/26592). Is it worth to also remove such warnings for [`readable[Symbol.asyncIterator]()`](https://nodejs.org/api/stream.html#stream_readable_symbol_asynciterator) and [`rl[Symbol.asyncIterator]()`](https:

[2019-03-11 17:56] MylesBorins commented on #414
Beth's initial assessment was spot-on. The change broke monkey patching the header response from 10.1.0 to 10.15.1 it also broke other things that required folks to make changes like https://github.com/antongolub/reqresnext/commit/cf19b6d84cec803abed3024412b70a0b0b0e94b

If what Beth is saying, that the change requires manual rebasing with lots of changes I am unfortunately strongly -1 unless we c

[2019-03-11 18:41] ljharb commented on #414
https://github.com/facebook/jest/issues/7700#issuecomment-457957682 and https://github.com/facebook/jest/pull/5995#issuecomment-457840107 are the comments that led me to pursue backporting it - it's a bug in jest that seems unlikely to get fixed, which means jest is broken in some cases in node < 10.

Obviously we can still backport it to 8; it's just nice if we can also do that for 6, since node

[2019-03-12 01:03] rvagg commented on #417
it's critical that @nodejs/build comes up with a final "support platforms" list as well as the base platforms for compiling releases, I don't believe we have this written up in a single place but there are some major changes that we need to lock in

[2019-03-12 01:12] richardlau commented on #417
That really sounds like something that should be on the agenda for the Build WG meetings (next one being later today: https://github.com/nodejs/build/issues/1715).

[2019-03-12 01:20] rvagg commented on #417
Assuming we need to bump `NODE_MODULE_VERSION`, we have to make sure we don't just straight increment, we have Electron making a claim on the next two numbers (69 and 70) so we just bump past that. See https://github.com/nodejs/TSC/issues/651#issuecomment-471807498 and the current "registry" (WIP) @ https://github.com/nodejs/node/pull/24114

[2019-03-12 20:20] mhdawson commented on #414
@ljharb I'll agree with Myles that we need to balance risk versus benefit.  If it's a nice to have but risky due to not landing cleanly, having backed in release it may not make sense.

One question I'd have is if it's important why is it unlikely to be fixed in jest?

[2019-03-12 20:22] ljharb commented on #414
It’s impossible or impractical to fix it in jest, i assume, since `instanceof Array` inside node has a reference to the original Array, and jest provides a different Array (and has no access necessarily to the original one) - whereas Array.isArray in node would work on anything that’s a subclass of a proper array, across realms as well.

[2019-03-13 20:12] BridgeAR commented on #397
I updated the staging branch today to get a release proposal together but that took quite a bit due to lots of conflicts and bisecting in-between.

I would like to release a new version tomorrow if no one is against it, since a fix for jest just landed. Any opinions @nodejs/releasers?

[2019-03-14 14:56] MylesBorins commented on #419
I've had a last minute conflict come up and wont be able to attend.. my sincerest apologies.

If you need a response to a specific question please message me via dm and I'll try and respond asap.

[2019-03-14 16:36] BridgeAR commented on #414
@ljharb I just had a look at this and I am confused as it seems already fixed in the latest v6? See https://github.com/nodejs/node/blob/v6.x/lib/_http_outgoing.js

[2019-03-14 16:45] ljharb commented on #414
I’m a bit confused too. I will admit i read the jest issue and assumed that instanceof Array was being used in all node versions prior to that fix; if in fact the bug was added after node 6, then i apologize for all the added noise here.

[2019-03-14 21:35] MylesBorins opened #421 "End of life date for 6.x"
Maybe April 30th?

[2019-03-14 21:40] richardlau commented on #421
No objections. It would be good to settle on a date before we push out the planned final v6.x release so we can include it in the release post.

FWIW it's currently pencilled in as 1 April: https://github.com/nodejs/Release/blob/eb91c94681ea968a69bf4a4fe85c656ed44263b3/schedule.json#L22-L28

[2019-03-15 13:55] mhdawson commented on #421
April 30th sounds good to me.

[2019-03-17 14:48] gengjiawen opened #422 "Node.js release notify"
As Node.js grows quickly, there are many docker image add it to deps or
use it as a base image. Like https://hub.docker.com/r/vuejs/ci and https://hub.docker.com/r/reactnativecommunity/react-native-android.

The main concern is that keep the docker image that including Node.js
can get release update after it's released. So users can trigger new image build or test automatically instead of read rel

[2019-03-17 15:11] richardlau commented on #422
Duplicate of https://github.com/nodejs/Release/issues/295?

[2019-03-17 15:12] richardlau commented on #422
FWIW there's GitHub's atom feed for releases:

![image](https://user-images.githubusercontent.com/5445507/54493360-0587fa00-48c7-11e9-9c5d-a2b809c31912.png)

[2019-03-19 15:18] MylesBorins commented on #405
@nodejs/collaborators quick ping. Is there anything specific you would like to see on 8.x?

[2019-03-19 15:31] MylesBorins opened #423 "Updated release dates for LTS"
Please refer to the [wiki](https://github.com/nodejs/Release/wiki) for the entire schedule

TL;DR

**6.x**: one release (April 2nd) then EOL (April 30th)
**8.x**: one Semver-Minor release (April 16th)
**10.x**: Semver-Minor release (April 30th), two patch releases (May 24th and June 25th)

LTS releasers we need folks to claim the two patch releases

[2019-03-19 15:33] MylesBorins commented on #325
I'm going to go ahead and close this, as I think this has been fixed. Please lmk if you need me to reopen it

[2019-03-19 15:33] #325 closed

[2019-03-19 15:33] MylesBorins commented on #333
They are back!

[2019-03-19 15:33] #333 closed

[2019-03-19 15:37] MylesBorins opened #424 "Move next weeks meeting?"
Hey All,

I'm organizing TC39 at google next week and won't be able to make the meeting, but I think it is important for us to review the Semver-Minor changes for 10.x. While we did do the last Semver-Minor release out of band (landed and then reviewed after), it might be nice to review in the meeting.

Can we move the meeting to this friday or next monday?

[2019-03-19 15:59] BridgeAR commented on #405
I would like to include https://github.com/nodejs/node/pull/26599.

[2019-03-19 16:20] lpinca commented on #405
https://github.com/nodejs/node/pull/25938

[2019-03-19 17:30] mhdawson commented on #424
I'm out on vacation next week (March 25-29)  so if the following Monday is an option that would be my preference. Having said that don't block on me in terms of finding a time that works for the rest of the team.

[2019-03-19 17:57] richardlau commented on #424
I won't be able to make next Monday/Tuesday (March 25-26)

[2019-03-19 18:15] #421 closed

[2019-03-19 18:37] Trott commented on #405
From https://github.com/nodejs/Release#release-plan:

And...

   applications is minimal;

   existing applications is low and where the change in question may
   significantly ease the ability to backport future changes due to the
   reduction in diff noise.

This would seem to preclude things like namespaces or new CLI flags.

If the material quoted above is accurate, then I assume Release WG wi

[2019-03-19 18:38] Trott commented on #405
(For the record, I'm fine one way or the other with `--unhandled-rejections` in LTS. I just want the quoted document to be correct.)

[2019-03-19 20:34] MylesBorins commented on #405
@Trott we likely need to update the language in the second area. We've mostly run with "we land whatever we agree as a group to land". That list is more for pointing people at when we agree not to land something...

We have landed new flags in prior LTS minors afaik

[2019-03-19 20:40] gabrielschulhof commented on #405
https://github.com/nodejs/node/pull/25648 is semver-minor and needed for N-API and https://github.com/nodejs/node/pull/26060 is the backport of a N-API bug fix.

[2019-03-20 04:22] Trott commented on #405
@MylesBorins This paragraph probably also needs to go, since here we are talking about landing all sorts of non-critical stuff in a maintenance release.

***critical*** security fixes, documentation updates, and updates to ensure
consistency and usability of the N-API across LTS releases will be permitted.
Unless a change is ***urgent*** it will be planned into a release once per
quarter. Such rel

[2019-03-20 04:56] MylesBorins commented on #405
@Trott we need to discuss this as a team and figure out what we want to do here.

That paragraph is important and has generally been a guiding start... keep in mind that 8.x had a shortened maintenance release cycle... we have not decided on exactly which PRs we are going to land. It initially started due to the need for specific n-api stuff... and we have documentation somewhere (unsure where) ab

[2019-03-20 13:25] BethGriggs commented on #424
@MylesBorins, perhaps we could arrange a separate meeting to review the SemVer Minors for v10.x while still keeping the Thursday general Release meeting? Does this Friday work?

[2019-03-20 18:43] MylesBorins commented on #424
I can always try and sneak out next Thursday… I’m not sure I’m going to have time to review all the 10.x semver minors before Friday anyways. So let’s work under the assumption I’ll make next week

We can also move forward with landing things based on no immediate objections and review the release PR before promoting it… we did that for the last LTS semver-minor and it worked out quite well

[2019-03-20 18:59] mcollina commented on #405
I think @BethGriggs included https://github.com/nodejs/node/pull/25351 already.

[2019-03-20 21:15] mhdawson commented on #405
This

[code]
Is the text related to N-API and is 2 paragraphs below the text @Trott referenced in the README.md

[2019-03-20 22:03] BridgeAR commented on #424
I like that idea as it sounds like the most straight forward one.

[2019-03-22 19:24] BethGriggs commented on #419
Minutes in #427

[2019-03-22 19:24] #419 closed

[2019-03-25 12:06] mhdawson opened #428 "Node.js Foundation Release WorkGroup Meeting 2019-03-28"
## Time

**UTC Thu 28-Mar-2019 15:00 (03:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 28-Mar-2019 08:00 (08:00 AM) |
| US / Mountain | Thu 28-Mar-2019 09:00 (09:00 AM) |
| US / Central  | Thu 28-Mar-2019 10:00 (10:00 AM) |
| US / Eastern  | Thu 28-Mar-2019 11:00 (11:00 AM) |
| London        | Thu 28-Mar-2019 15:00 (03:00 PM) |

[2019-03-25 13:41] Trott commented on #417
@BethGriggs Is the `tsc-agenda` label here for visibility (that is, to make sure the TSC knows about this issue) or is there something the TSC needs to actually do or decide here?

[2019-03-25 14:07] BethGriggs commented on #417
@Trott, yes, it was more for awareness

[2019-03-26 19:41] MylesBorins commented on #423
Closing

[2019-03-26 19:41] #423 closed

[2019-03-26 19:42] MylesBorins commented on #405
PR is open

https://github.com/nodejs/node/pull/26933

Anything missing?

[2019-03-26 23:28] Trott opened #429 "Improve terminology ("release candidate" is not a release candidate)"
Each major release, we push out builds versioned as `vN.0.0-rc.M` (where `N` and `M` are integers). These builds are invariably not release candidates despite being called "release candidates" and having `rc` in the version name. They are invariably expected to get more commits whether or not bugs are found in them. They are beta releases, not release candidates.

Ref: https://en.wikipedia.org/wik

[2019-03-26 23:28] Trott commented on #429
Ref: https://github.com/nodejs/node/pull/26930#issuecomment-476854160

[2019-03-26 23:38] richardlau commented on #428
Added https://github.com/nodejs/Release/issues/429 to the agenda.

[2019-03-27 17:27] toymachiner62 opened #430 "What is the difference between Current and Active?"
I'm curious what the difference between the Current and Active statuses of a Node.js version are.

My team is currently on version 9 and trying to determine whether to move to 10, 11, or 12 but i'm not sure what the statuses actually mean and there is nothing documented on the README about them (at least that I skimmed through and found).

[2019-03-27 17:39] BethGriggs commented on #430
Does this help? https://github.com/nodejs/node#release-types

[2019-03-27 17:39] MylesBorins commented on #430
Current is actively updated on a weekly or bi-weekly basis. It will be Semver-Minor or Semver-Patch depending on the backlog on master.

Active LTS has a monthly release cadence and will only contain changes that have already gone out in a Current release.

For production services I do not advise ever using Current. I would have advised being on 10 until 12 goes to Active LTS. As you are already o

[2019-03-27 17:39] cjihrig commented on #430
"Current" represents the current release line that receives all non-breaking changes that land in Node's master branch. The things that land in an active LTS or maintenance line are covered in https://github.com/nodejs/Release#release-plan.

That version has been end of life for a while. Companies should generally stick to even numbered versions. I'd recommend moving to 10 now, and 12 once it goes

[2019-03-27 18:30] toymachiner62 commented on #430
Only partially. It doesn't say anything about `Active`

[2019-03-27 19:23] Trott commented on #429
Here's an suggestion: Once the semver-major cut-off date has passed, an actual release candidate is cut. If there are no showstopper bugs identified in the release candidate, that's it. It's the release. Congratulations, you finished weeks early.

Sure, there will be patches and minors that people will want in Node.js version N.0.0, but they can go in N.0.1 or N.1.0.

That might make things easier

[2019-03-27 21:01] MylesBorins commented on #429
@Trott that would be a major departure from how we've handled release candidates across all release lines and I'm explicitly -1 on it.  While I think moving towards doing betas and creating a distinction between betas and rc's are a good idea it requires a big change to both process and tooling (ci-release). This isn't something I think we should be looking to implement at this point, but definite

[2019-03-27 21:30] BridgeAR commented on #429
I agree with @MylesBorins that this would be difficult in the current state. If our tooling improves a lot, we could go into that direction.

I do not think that our current RC handling is too bad either, since the release is not becoming an LTS release right away and people mostly try it out, when it's final (and most companies I know mainly use LTS versions and only play around with current from

[2019-03-28 00:32] Trott commented on #417
Mentioned at the TSC meeting today. Removing the `tsc-agenda` label. Feel free to re-add it if there's more for the TSC to do.

[2019-03-28 19:47] sam-github commented on #397
FYI, I linked to this from https://github.com/nodejs/Release/wiki

[2019-03-29 03:12] toymachiner62 commented on #430
Closing as i've gotten my answer. Thanks all.

[2019-03-29 03:12] #430 closed

[2019-03-29 08:35] targos commented on #397
@codebytere During yesterday's meeting, we decided to move the last active release of v11.x to 2019-04-16 so it doesn't happen the same week as 12.0.0. Is it still OK for you?

[2019-04-01 15:33] sam-github opened #431 "Is it time to update release date information?"
Could the release dates for LTS, current, and next (12.x) get updated?

https://github.com/nodejs/Release/wiki has (or links to) the various locations of this information. I think it could be brought together a bit more, but as long as its findable, it works.

It would be nice to have the 10.x schedule extended to the next semver-minor (10.17). That would give me a target for TLS1.3 in 10.x (for e

[2019-04-02 14:45] mhdawson commented on #429
I agree we should consider the suggested changes to the process for 13.x as opposed to any earlier.

[2019-04-02 14:47] mhdawson commented on #405
@gabrielschulhof can you take a quick look to verify the list as well?

[2019-04-04 18:30] MylesBorins commented on #431
@sam-github we just updated the dates in the wiki, does that look better to you?

[2019-04-04 21:27] sam-github commented on #431
@MylesBorins It would help if the 10.x plan went until 10.17.0, and 13.x and 14.x had predictions.

This might seem far away, but its so I can predict when semver-minors might next be released on 10.x if they miss 10.16.0, and for 13.x & 14.x, without dates for them I can't predict the "fips gap" very accurately in https://github.com/nodejs/TSC/pull/677.

If not now, perhaps when or shortly after

[2019-04-04 21:28] MylesBorins commented on #431
We’ve generally been doing this on a quarterly basis… we can plan out 10.17, but TBH there was an intention of thinking about that until the end of Q2.

We could just pick dates for 13 / 14 now if we want, easily enough.

[2019-04-06 14:14] jasonkarns commented on #431
According to the schedule.json, 11 is in maintenance mode as of a week ago: https://github.com/nodejs/Release/blob/2e839d1e5921a509c9522054c7ad3bdf6a6ea126/schedule.json#L55 (2019-04-01), but 12 doesn't start until 2019-04-23. That puts us in a "temporal dead zone" from 4-1 to 4-23 where there is (strictly speaking) no "Current Release".

For users seeing "11.13.0 Current" on nodejs.org is no big

[2019-04-08 12:06] mhdawson opened #433 "Node.js Foundation Release WorkGroup Meeting 2019-04-11"
## Time

**UTC Thu 11-Apr-2019 15:00 (03:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 11-Apr-2019 08:00 (08:00 AM) |
| US / Mountain | Thu 11-Apr-2019 09:00 (09:00 AM) |
| US / Central  | Thu 11-Apr-2019 10:00 (10:00 AM) |
| US / Eastern  | Thu 11-Apr-2019 11:00 (11:00 AM) |
| London        | Thu 11-Apr-2019 16:00 (04:00 PM) |

[2019-04-09 17:10] BethGriggs commented on #397
Currently prepping today's release, aim to open the PR later this evening and have it go out tomorrow

[2019-04-16 11:04] rvagg commented on #417
Working through an infrastructure checklist @ https://github.com/nodejs/build/issues/1768, it's not very healthy this close to release unfortunately.

[2019-04-17 15:50] BethGriggs opened #435 "Release plan - v12.x Current"
_draft_

Week | Approximative date | Release | Releaser
------------ | :-------: | ------ | ----
2019 - 17 | 2019-04-23 | v12.0.0 | @BethGriggs
2019 - 18 | 2019-04-29 | v12.1.0 | @targos
2019 - 19 | 2019-05-07 | v12.2.0 | @targos
2019 - 21  | 2019-05-21 | v12.3.0 | @BridgeAR
2019 - 21  | 2019-05-22 | v12.3.1 | @BridgeAR
2019 - 23 | 2019-06-04 | v12.4.0 | @targos
2019 - 25 | 2019-06-27 | v12.5.0 |

[2019-04-17 16:19] targos commented on #397
@codebytere Do you have time to prepare this week's release? If not I can do it.

[2019-04-18 16:55] BethGriggs commented on #397
For now, I've based the v12.0.0 release changelog on the diff between v11.14.0 and v12.x. Some PRs have landed on 11.x-staging that would be good to ship (even if that happens to be after v12.x goes out).

[2019-04-18 17:06] BridgeAR commented on #397
@BethGriggs just for understanding since I somewhat read both: is it only about the changelog or are commits missing that landed on the 11 branch?

[2019-04-18 18:00] BethGriggs commented on #397
Ah sorry, in regards to Node 12 it is just the changelog. As far as I know, all new commits currently on v11.x-staging are manual v11.x backports.

[2019-04-22 12:06] mhdawson opened #436 "Node.js Foundation Release WorkGroup Meeting 2019-04-25"
## Time

**UTC Thu 25-Apr-2019 15:00 (03:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 25-Apr-2019 08:00 (08:00 AM) |
| US / Mountain | Thu 25-Apr-2019 09:00 (09:00 AM) |
| US / Central  | Thu 25-Apr-2019 10:00 (10:00 AM) |
| US / Eastern  | Thu 25-Apr-2019 11:00 (11:00 AM) |
| London        | Thu 25-Apr-2019 16:00 (04:00 PM) |

[2019-04-22 16:22] bnb opened #437 "Adding a "security" property to dist/index.json"
Per a brief discussion in today's Node.js Security Working Group meeting, I wanted to bring up the possibility of adding a `security` property into the [dist/index.json](https://nodejs.org/dist/index.json).

To outline a possible structure/implementation for this property:
- add a `security` property to each new release object, from the date it's implemented and beyond
- this property has a key of

[2019-04-22 16:46] richardlau commented on #437
Seems reasonable, although it would be reliant on the person doing the release to update the property. Security releases are typically not done by the regular releasers.

[2019-04-22 16:48] sam-github commented on #437
It would have to be part of the release process, and it could also be part of the security release process. The person going through the sec release process often isn't doing the actual cutting of the release, so a step there of "check that the metadata was correct" could be useful as a double-check.